.container {
  display: inline-flex;
  flex-direction: column;
  gap: 40px;
  flex-grow: 1;
  padding: 24px 24px 0 24px;
  margin-bottom: 40px;
}

.footer {
  flex-grow: 1;
  display: inline-flex;
  gap: 8px
}

.form {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}
