@import '@assets/mixin.scss';

.rating {
  display: flex;
}

.animalInventoryWrapper {
  padding-bottom: 24px;

  // Animal inventory label
  > :first-child {
    padding-top: 16px;
  }

  // AnimalInventory component
  > :nth-child(2) {
    margin-top: 8px;

    // FixedHeaderContainer styles (didn't dare mess with!)
    > :nth-child(1) {
      @include lg-breakpoint {
        margin-top: 0;
      }
    }
  }
}
