@import '@assets/mixin.scss';

.rating {
  display: flex;
}

.animalInventorySection {
  padding-bottom: 24px;

  // At least one animal selected warning
  > :nth-child(2) {
    color: var(--Brand-Accents-colors-and-overlays-Accent-red);
    padding: 16px;
  }
}

.animalInventoryWrapper {
  // AnimalInventory component

  > :nth-child(1) {
    // FixedHeaderContainer styles (didn't dare mess with!)
    > :nth-child(1) {
      @include lg-breakpoint {
        margin-top: 0;
      }
    }
  }
}
