.container {
    width: 100%;
    --active-dot-w: 12px;
    --dot-w: 8px;
    --item-fs: 12px;
    --active-item-fs: 14px;
    --heading-fs: 14px;
    --line-w: 1px;
    --spacing: 30px;
    display: flex;
    flex-direction: column;
    gap: var(--spacing)
}

.headerLine {
    flex-grow: 1;
    height: var(--line-w);
    background: inherit;
    background-color: var(--grey600);
    border: none;
    margin: 0;
}

.heading {
    flex-basis: fit-content;
    font-size: 14px;
    color: var(--grey600);
}

.header {
    width: 100%;
    display: flex;
    gap: 1em;
    justify-content: space-between;
    align-items: center;
}

.timelineItem {
    width: fit-content;
    font-size: var(--item-fs);
    color: var(--grey600);
    display: flex;
    align-items: center;
    margin-bottom: var(--spacing);
    cursor: pointer;
}

.timelineItem::before {
    content: '';
    display: block;
    background-color: var(--grey500);
    width: var(--dot-w);
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    margin-left: calc((var(--active-dot-w) - var(--dot-w)) / 2);
    margin-right: calc(1em + (var(--active-dot-w) - var(--dot-w)));
}

.timelineItem:not(:last-child)::after {
    content: '';
    display: block;
    position: absolute;
    background-color: var(--grey500);
    width: var(--line-w);
    height: calc(var(--spacing) + (var(--item-fs) - var(--dot-w)) + 1px);
    transform: translate(calc((var(--active-dot-w) / 2) - 0.5px), calc(50% + (var(--dot-w) / 2) + 2px));
}

.activeItem {
    font-size: var(--active-item-fs);
    color: var(--teal700);
    font-weight: 600;
} 

.activeItem::before {
    background-color: var(--teal700);
    width: var(--active-dot-w);
    margin-left: 0;
    margin-right: 1em;
}

.activeItem:not(:last-child)::after {
    transform: translate(calc((var(--active-dot-w) / 2) - 0.5px), calc(50% + (var(--active-dot-w) / 2) + 2px));
}