.image {
  margin: auto;
}

.imageContainer {
  background-color: var(--grey200);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  margin-bottom: 16px;
}

.instruction {
  font-size: 14px;
  line-height: 18px;
  color: var(--grey600);
  margin-bottom: 24px;
}
