.buttonContainer {
  width: 100%;
  margin-bottom: 25px;

  div {
    div {
      div {



        div {
          //margin-left: 4px;
          //min-width: 10%;
        }
      }
    }
  }

  .button {
    display: flex;
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    text-decoration: none;
    border-color: white !important;
    background-color: white;
    justify-content: space-between;
    //label {
    //  display: none;
    //}
    label {
      font-size: 14px;
      color: black;
      font-weight: normal;
      display: flex;
      align-items: center;
    }
  }
}

.leftColumn {
  flex-bas: 30%;
  padding-right: 4%;
}

.middleColumn {
  flex-basis: 35%;
  max-width: 35%;
  padding-right: 5px;

  div {
    max-width: 100%;
    min-width: 8ch;

    div {
      div:nth-child(1) {
        max-width: 90%;
        width: 90%;
      }

      div:nth-child(2) {
        width: 10%;
        margin-left: 2px;
        text-align: left;
      }
    }
  }
}

.rightcolumn {
  flex-basis: 35%;
  max-width: 35%;

  div {
    max-width: 100%;
    min-width: 10ch;
  }

  div > div > div:nth-child(2) {
    display: none;
  }
}
