.buttonContainer {
  width: 100%;
  margin-bottom: 25px;

  div {
    div {
      div {
        max-width: 64px;

        input {
          min-width: 0;
        }

        div {
          margin-left: 4px;
        }
      }
    }
  }

  .button {
    display: flex;
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    text-decoration: none;
    border-color: white !important;
    background-color: white;
    justify-content: space-between;
    //label {
    //  display: none;
    //}
    label {
      font-size: 14px;
      color: black;
      font-weight: normal;
      display: flex;
      align-items: center;
    }
  }
}

.middleColumn {
  flex-basis: 35%;
}

.rightcolumn {
  flex-basis: 35%;
}
