.container {
  display: flex;
  flex-direction: column;
  width: 24px;
  border-radius: 9px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.zoomIn, .zoomOut {
  height: 20px;
  border: none;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;

  .svg {
    stroke: var(--grey600);
  }
}

.zoomIn:hover, .zoomOut:hover {
  .svg {
    stroke: var(--grey900);
  }
}

.zoomIn:active, .zoomOut:active {
  background: var(--grey200);
}

.zoomIn {
  border-radius: 9px 9px 0 0;
  border-bottom: 1px solid var(--grey200);
}

.zoomOut {
  border-radius: 0 0 9px 9px;
}
