.typeNameContainer{
  width: 120%;
  border-bottom: 1px solid #B6B3B3;
  padding: 0 10%;
  margin-left: -10%;
  min-height: 50px;
  display: flex;
  align-items: center;
}

.itemContainer{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 120%;
  padding: 0 10%;
  margin-left: -10%;
  border-bottom: 1px solid #B6B3B3;
  font-size: 18px;
  min-height: 50px;
}

.greenText{
  color: #1D857C;
}

.innerInfo{
  padding: 0 10% 2% 10%;
  width: 120%;
  border-bottom: 1px solid #B6B3B3;
  display:flex;
  margin-left: -10%;
  flex-direction: row;
  justify-content: space-between;
  font-size: 18px;
  color: var(--typePrimary);
  span{
    color: var(--typeAction)
  }
}