@import "../../assets/colors";

.container {
  display: inline-block;
  position: relative;
  padding-left: 24px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: white;
  border-radius: 50%;
  border: solid 2px var(--iconDefault);
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  border: solid 2px var(--checkbox);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  top: 2px;
  left: 2px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--checkbox);
}

.label {
  @include checkbox-label-font();
  transform: translateY(-4px);
  margin-bottom: 0;
}

.disabled{
  cursor: auto;
}

.disabled .checkmark{
  background-color: var(--btnDisabled);
  border: none;
}