/*
 *  Copyright 2024 LiteFarm.org
 *  This file is part of LiteFarm.
 *
 *  LiteFarm is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  LiteFarm is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 *  GNU General Public License for more details, see <https://www.gnu.org/licenses/>.
 */

@import '../../../assets/mixin.scss';

.contentWrapper {
  padding-bottom: 88px; // button height 72px + button top 16px

  @include sm-breakpoint {
    padding-bottom: 104px; // button height 72px + button top 16px + button bottom 16px
  }
}

.loadingScreen {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loadingText {
  color: #000;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 16px;
}

.loadingMessage {
  color: #000;
  font-size: 16px;
  line-height: 24px;
}

/*----------------------------------------
  HeaderWithBackAndClose
----------------------------------------*/
.headerWrapper {
  width: 100%;
  border-bottom: 1px solid var(--Colors-Neutral-Neutral-50);
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.05);

  .container {
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 16px 8px 12px 8px;
  }

  .leftContainer {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .backButton {
    padding: 0;
    min-width: 24px;
    min-height: 24px;

    svg {
      width: 24px;
      height: 24px;
    }

    path {
      stroke: var(--Colors-Neutral-Neutral-600);
      stroke-width: 2px;
    }
  }

  .textTitle {
    font-size: 16px;
    letter-spacing: -0.352px;
  }

  .closeButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
  }

  .closeButton {
    width: 12px;
    height: 12px;
  }
}
