.pill {
  border-radius: 32px;
  display: inline-flex;
  align-items: center;
  padding: 0 12px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 600;
  cursor: pointer;
}

.active {
  border: 1px solid var(--teal700);
  background-color: var(--teal600);
  color: white;
}

.inactive {
  border: 1px solid var(--grey400);
  background-color: var(--grey200);
  color: var(--grey500);
}

.spaceBefore {
  margin-left: 6px;
}
