/*
 *  Copyright 2026 LiteFarm.org
 *  This file is part of LiteFarm.
 *
 *  LiteFarm is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  LiteFarm is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 *  GNU General Public License for more details, see <https://www.gnu.org/licenses/>.
 */

.resultsContainer {
  padding-bottom: 48px;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.chartContainerWrapper {
  overflow-x: auto;
}

.chartContainer {
  height: 500px;
  width: calc(100% - 4px); // This makes the chart responsive
  min-width: 400px;
  margin-top: 24px;
}

.surveyContainer {
  height: 100%;

  &.compactSideMenu {
    :global(.sv-save-data_root) {
      margin-left: calc(var(--global-compact-side-menu-width) / 2);
    }
  }

  :global(.sv-save-data_root) {
    margin-left: calc(var(--global-side-menu-width) / 2);
  }
}
