/*
 *  Copyright 2023 LiteFarm.org
 *  This file is part of LiteFarm.
 *
 *  LiteFarm is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  LiteFarm is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 *  GNU General Public License for more details, see <https://www.gnu.org/licenses/>.
 */

@import '../../../../assets/mixin.scss';

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid #D1E9D9;
  padding: 0;
  height: 100%;

  @include mobile-breakpoint {
    border: none;
    background-color: var(--teal700);
  }
}

.list {
  padding: 0;
}

.listItem {
  padding: 16px;
  padding-right: 32px;
  border-top: 1px solid #E9EBF8;
  display: flex;
  justify-content: center;

  &:hover {
    background-color: var(--teal50);
  }

  @include mobile-breakpoint {
    border: none;

    &.logoListItem {
      display: none;
    }

    &.adminActionListItem {
      background-color: var(--teal600);
      border-top: 1px solid var(--teal700);
    }
  }
}

.activeListItem {
  background-color: #A2D2CD;

  @include mobile-breakpoint {
    &.subItem {
      background-color: #A2D2CD;
    }
  }
}

.inactiveListItem {
  @include mobile-breakpoint {
    &:not(:hover) {
      .listItemText {
        color: var(--teal50);
      }
  
      .icon {
        path {
          stroke: var(--teal50);
        }
      }
    }
  
    &.subItem {
      background-color: var(--teal50);
    }
  }
}

.listItemText {
  margin: 0;
  color: var(--teal700);
  font-weight: 500;
}

.icon {
  min-width: 0px;
  margin-right: 8px;
}

.expandIcon {
  path {
    fill: var(--teal700);
  }
}

.subList {
  padding: 8px 0;
}

.subItem {
  border: none;
  padding: 8px 16px;
}

.subItemText {
  color: var(--teal700);

  span {
    font-weight: 600;
  }
}
