/*
 *  Copyright 2023 LiteFarm.org
 *  This file is part of LiteFarm.
 *
 *  LiteFarm is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  LiteFarm is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 *  GNU General Public License for more details, see <https://www.gnu.org/licenses/>.
 */

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid #D1E9D9;
  padding: 0;
}

.list {
  padding: 0;
}

.listItem {
  padding: 16px;
  padding-right: 32px;
  border-top: 1px solid #E9EBF8;
  display: flex;
  justify-content: center;

  &:hover {
    background-color: var(--primaryTeal50);
  }
}

.activeListItem {
  background-color: #A2D2CD;
}

.listItemText {
  margin: 0;
  color: var(--primaryTeal700);
  font-weight: 500;
}

.icon {
  min-width: 0px;
  margin-right: 8px;
}

.expandIcon {
  path {
    fill: var(--primaryTeal700);
  }
}

.subItemText {
  color: var(--primaryTeal700);

  span {
    font-weight: 600;
  }
}

@media only screen and (max-width: 414px) {
  .container {
    background-color: var(--primaryTeal700);
  }

  .icon {
    path {
      stroke: var(--primaryTeal50);
    }
  }

  .cropsIcon {
    path {
      fill: var(--primaryTeal50);
    }
  }
}
