.idea
node_modules
lerna-debug.log
packages/api/coverage
packages/api/.env.local
packages/api/tickets
packages/api/.env
packages/webapp/.env
packages/end-to-end/cypress/videos
packages/end-to-end/cypress/screenshots
packages/end-to-end/coverage
packages/webapp/.nyc_output
packages/webapp/.nyc_output/out.json
packages/webapp/cypress.env.json
.vscode/settings.json
.DS_Store
.env
packages/webapp/cypress/integration/1-getting-started
packages/webapp/cypress/integration/2-advanced-examples
ngrok/ngrok.yml
docker-compose.override.yml
