.idea
node_modules
lerna-debug.log
packages/api/coverage
packages/api/.env.local
packages/api/.env
packages/webapp/.env
packages/webapp/cypress/videos
packages/webapp/cypress/screenshots
.vscode
.DS_Store
