.idea
node_modules
lerna-debug.log
packages/api/coverage
packages/api/.env.local
packages/api/tickets
packages/api/.env
packages/webapp/.env
packages/webapp/cypress/videos
packages/webapp/cypress/screenshots
packages/webapp/.nyc_output
packages/webapp/.nyc_output/out.json
packages/webapp/cypress.env.json
.vscode
.DS_Store
.env
packages/webapp/cypress/integration/1-getting-started
packages/webapp/cypress/integration/2-advanced-examples
ngrok/ngrok.yml

docker/data/
