.matrixItem{
  flex: 0 0 33.3333%;
  @media only screen and (max-width: 400px) {
    flex: 0 0 50%;
    max-width: 50%;
  }
  @media only screen and (min-width: 800px) {
    flex: 0 0 25%;
    max-width: 25%;
  }
  margin-top: 1.1rem;
  max-width: 33.3%;
  cursor: pointer;
  //min-block-size:100px;
}
.moodSelected {
  background: #00756A !important;
}

.moodUnSelected {
  width: 80px;
  height: 80px;
  border-radius: 80px;
  margin: 0 auto;
  background: #7BCFA2;
}
.matrixContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
