.banner {
  width: 100%;
  padding: 4px 8px;
  background-color: #fff0f0;
  color: var(--Brand-Accents-colors-and-overlays-Accent-red);
  border-radius: 8px;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.4;
}
