@import '../../assets/mixin';
.title {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  margin-bottom: 20px;
}

.container {
  margin-bottom: 32px;
}
.leaf {
  color: var(--brandColor);
}
.svg {
  margin-bottom: 16px;
}
.svgtitle {
  font-size: 20px;
  line-height: 32px;
  color: var(--green700);
  display: block;
  text-align: center;
  margin-bottom: 8px;
}

.otherBrowserMessageTop {
  margin-bottom: 16px;
  transform: translateY(-8px);
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #000000;
}
.otherBrowserMessageBottom {
  // text-align: left;
  font-size: 14px;
  color: #282b36;
}
