.title {
  font-style: normal;
  font-weight: normal;
  color: var(--green);
  font-size: 20px;
  line-height: 24px;
  font-family: 'Open Sans', 'SansSerif', serif;
  margin-top: 24px;
  margin-left: 12px;
}

.subTitle{
  font-style: normal;
  font-weight: normal;
  color: var(--grey900);
  font-size: 16px;
  line-height: 24px;
  font-family: 'Open Sans', 'SansSerif', serif;
  margin-left: 12px;
  margin-top: 8px;
}

.legendWrapper{
  display: flex;
  margin-right: 32px;
  justify-content: center;
}

.legendContainer{
  margin-right: 10px;
  cursor: pointer;
}