@import '../../../assets/mixin.scss';

.lineChartWrapper {
  max-height: 650px;
}
.title {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  @include fontFamily();
  text-transform: capitalize;
}

.subTitle {
  font-style: normal;
  font-weight: normal;
  color: var(--grey600);
  font-size: 18px;
  line-height: 24px;
  @include fontFamily();
  margin-block: 8px;
}

.legendWrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  margin-top: 30px;
  margin-left: 50px;
  line-height: 24px;
}

@media (min-width: 500px) {
  .legendWrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
}

.legendContainer {
  margin-right: 10px;
  cursor: pointer;
}

.titleLastUpdated {
  font-style: normal;
  font-weight: normal;
  color: var(--grey600);
  font-size: 14px;
  line-height: 24px;
  @include fontFamily();
  padding-top: 8px;
}

.titleWrapper {
  margin: 24px 24px 10px 12px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
  gap: 8px;
}

.graphWrapper {
  display: flex;
  flex-direction: row;
  height: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
}

.yAxisWrapper {
  background: white;
  position: sticky;
  left: 0;
  z-index: 3;
}
