/*
 *  Copyright 2026 LiteFarm.org
 *  This file is part of LiteFarm.
 *
 *  LiteFarm is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  LiteFarm is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 *  GNU General Public License for more details, see <https://www.gnu.org/licenses/>.
 */

@use '../../assets/mixin' as *;

.navigationWrapper {
  display: flex;
  flex: 1;

  --offline-indicator-offset: 0px;

  &.offlineMode {
    --offline-indicator-offset: 24px;
    --global-navbar-height: calc(64px + 24px);

    @include xs-breakpoint {
      --global-navbar-height: calc(55px + 24px);
    }
  }
}
