.empty {
  fill: var(--grey400);
  stroke: var(--grey500);
}

.filled {
  fill: var(--yellow700);
  stroke: var(--grey900);
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.labelContainer {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  gap: 8px;
  margin-bottom: 4px;
}

.gap8px {
  display: flex;
  gap: 8px;
}
