@import "../../stories/assets/mixin";
.title{
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  margin-bottom: 20px;
}

.container{
  margin-bottom: 32px;
}
.leaf{
  color: var(--brandColor);
}
.svg{
  margin-bottom: 16px;
}
.svgtitle{
  font-size: 20px;
  line-height: 32px;
  color: var(--green700);
  display: block;
  text-align: center;
  margin-bottom: 8px;
}

.firstCheckboxContainer{
  margin-bottom: 16px;
}

.secondCheckboxContainer{
  margin-bottom: 12px;
}
