.title {
  font-size: 59px;
  font-style: normal;
  font-weight: 700;
  line-height: 73px;
  letter-spacing: 0px;
  text-align: left;
}

.date {
  font-size: 44px;
  font-style: italic;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: left;
}

.question {
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: left;
}

.answer {
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 72px;
  letter-spacing: 0px;
  text-align: left;
}
