.nameSpacing {
  padding-bottom: 32px;
}

.typeSpacing {
  padding-bottom: 40px;
}

.validUntilSpacing {
  padding-bottom: 18px;
}

.doesNotExpireSpacing {
  padding-bottom: 42px;
}

.imgSpacing {
  padding-bottom: 16px;
}

.linkSpacing {
  padding-bottom: 32px;
}

.notesSpacing {
  padding-bottom: 40px;
}