.pageWrapper {
  display: flex;
  flex-direction: column;
  width: calc(100% - var(--global-side-menu-width));
  align-items: stretch;
  position: absolute;
  right: 0;
  top: 0;
  overflow: hidden;
}

.mapHeader {
  order: 1;
  z-index: 1;
  background: white;
  position: absolute;
  right: 0;
  width: calc(100% - var(--global-side-menu-width));
}

.mapContainer {
  position: relative;
  min-height: 152px;
  order: 2;
  flex-grow: 1;
  display: flex;
  // TODO: this is a workaround for keeping all locations in view (ST-297)
  // remove this when we have a better solution
  // that is dependent to navbar height (viewport)
  padding-top: calc(var(--global-navbar-height) + var(--global-map-header-height));
  // z-index: -1;
}

.selectionModal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
  width: 100%;
  height: 100%;
}

:export {
  primaryColour: #349289;
  defaultColour: #ffffff;
  barnColour: #d02620; // red-700
  ceremonialSiteColour: #028577; // teal-700
  farmBoundColour: #8f26f0; // purple-700
  farmBoundHoverColour: #5500a4; // purple-900
  fieldColour: #aa5f04; // brown-700
  greenhouseColour: #037a0f; // bright green-700
  surfaceWaterColour: #0669e1; // blue-700
  naturalAreaColour: #ffb800; // yellow-700
  residenceColour: #085d50; // teal-700
  watercourseColour: #0669e1; // blue-700
  bufferZoneColour: #ffb800; // Yellow-700
  fenceColour: #66738a; // grey-600
  gardenColour: #66738a;
  barnSelectedColour: #FFE8E8; // red-200
  bufferZoneSelectedColour: #F8ECD0; // yellow-100
  ceremonialSiteSelectedColour: #E3F8EC; // green-100
  // farmBoundSelectedColour: ;
  fieldSelectedColour: #FFF6ED; // brown-200
  gardenSelectedColour: #F3F6FB; //grey-200
  greenhouseSelectedColour: #E3F8EC; // green-100
  naturalAreaSelectedColour: #F8ECD0; // yellow-100
  residenceSelectedColour: #F1FBF9; // teal-100
  surfaceWaterSelectedColour: #E9F3FF; // blue-200
  watercourseSelectedColour: #E9F3FF; // blue-200
}

.drawingBar {
  width: 100%;
  position: fixed;
  top: 72px;
  align-self: center;
  z-index: 10;
  pointer-events: none;
}

@media (max-width: 960px) {
  .drawingBar {
    top: 56px;
  }
}

.mapContainer {
  width: 100%;
}

.clusterIcon {
  background-color: white;
  color: var(--teal700);
  border: 1px solid var(--teal700);
  border-radius: 4px;
  filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.5));
  font-weight: 700;
  font-family: "Open Sans", "SansSerif", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}


.selectedClusterIcon {
  color: white;
  background-color: var(--teal700);
  border: 1px solid white;
  border-radius: 4px;
  filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.5));
  font-weight: 700;
  font-family: "Open Sans", "SansSerif", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hoveredClusterIcon {
  background-color: var(--green100);
  color: var(--teal700);
  border: 1px solid var(--teal700);
  border-radius: 4px;
  filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.5));
  font-weight: 700;
  font-family: "Open Sans", "SansSerif", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.farmPointLabel {
  position: relative;
  margin-top: 50px;
}
