.pageWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: stretch;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
}

.mapHeader {
  order: 1;
  z-index: 1;
  background: white;
  position: absolute;
  left: 0;
  width: 100%;
}

.mapContainer {
  position: relative;
  min-height: 152px;
  order: 2;
  flex-grow: 1;
  display: flex;
  // z-index: -1;
}

.selectionContainer {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
}

.mapFooter {
  order: 3;
  z-index: 101;
}

:export {
  primaryColour: #349289;
  defaultColour: #ffffff;
  barnColour: #d02620; // red-700
  ceremonialSiteColour: #028577; // teal-700
  farmBoundColour: #8f26f0; // purple-700
  farmBoundHoverColour: #5500a4; // purple-900
  fieldColour: #aa5f04; // brown-700
  greenhouseColour: #037a0f; // bright green-700
  surfaceWaterColour: #0669e1; // blue-700
  naturalAreaColour: #ffb800; // yellow-700
  residenceColour: #085d50; // teal-700
  watercourseColour: #0669e1; // blue-700
  bufferZoneColour: #ffb800; // Yellow-700
  fenceColour: #66738a; // grey-600
  gardenColour: #66738a;
}

.drawingBar {
  width: 100%;
  position: fixed;
  top: 72px;
  align-self: center;
  z-index: 10;
  pointer-events: none;
}

@media (max-width: 960px) {
  .drawingBar {
    top: 56px;
  }
}
.mapContainer {
  width: 100%;
}
