.defaultFormDropDown {
  width: 100%;
  padding-bottom: 15px;
  font-size: 1.8rem;
  label {
    font-weight: 300;
    line-height: 20px;
    font-size: 1.8rem;
    width: 75px;
  }
  input {
    height: 30px;
    line-height: 1.1;
  }
}

.banner {
  display: flex;
  hr {
    background-color: black;
    height: 2px;
  }
  p:first-child{
    flex-basis: 30%;
  }
  p:nth-child(2){
    flex-basis: 35%;
  }
  p:last-child {
    flex-basis: 35%;
  }
  p {
    font-size: 14px;
    line-height: 24px;
    color: var(--fontColor);
    font-style: normal;
    font-weight: normal;
    font-family: 'Open Sans', 'SansSerif', serif;
  }
}

.thinHr {
  background-color: lightgrey;
  height: 1px;
}
.thinHr2 {
  background-color: lightgrey;
  height: 1px;
  margin-bottom: 18px;
}
