@import "../../../stories/assets/colors";
@import "../../../stories/assets/mixin";
.input {
  border: 2px solid var(--border);
  box-sizing: border-box;
  border-radius: 4px;
  height: 48px;
  padding-left: 8px;
  @include checkbox-label-font();
}

.input:disabled {
  background-color: var(--inputDisabled);
  color: var(--inputDefault);
}

.fullLength{
  width: 100%;
}

.label{
  @include input-label-font();
  margin-bottom: 4px;
}
.container{
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.inputError{
  border-color: var(--error);
}

.error{
  @include error-font();
  margin-top: 4px;
}

.input:focus{
  outline: none;
  border-color: var(--inputActive);
}

.info{
  @include info-font();
  margin-bottom: 0;
  margin-top: 4px;
}

.icon{
  position: absolute;
  right: 0;
  top: -8px;
  color: var(--iconDefault);
}
.icon > *{
  cursor: pointer;
}
