.formContainer{
  margin-top: 5%;
  label{
    font-family: 'Avenir', sans-serif;
    font-weight: normal;
  }
  input{
    width: 50%;
    height: 30px;
    border: 1px solid #C3C0C0;
    border-radius: 3px;
    padding: 0 3%;
  }
  select {
    background: #EFEFEF;
    border: none;
    padding: 2px;
  }
}
.labelContainer{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 3%;
  label{
    min-width: 64px;
  }
  input{
    min-width:80%;
  }
}

.selectContainer{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-start;
  margin-bottom: 3%;
  label{
    min-width: 64px;
  }
}

.phoneContainer{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 3%;
  label{
    min-width: 64px;
  }
  //select {
  //  background: #EFEFEF;
  //  border: none;
  //  padding: 2px;
  //  margin-right: 3%;
  //  height: 30px;
  //}
}


@media only screen and (max-width: 800px) {
  .formContainer{
    margin-top: 5%;
    label{
      font-family: 'Avenir', sans-serif;
      font-weight: normal;
    }
    input{
      width: 80%;
      height: 30px;
    }
  }
}

.greenTextButton{
  color:#00756A;
  width: 100%;
  font-size: 18px;
  text-align: left;
}
.requestContainer{
  width: 100%;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}