:root {
  --teal900: #085D50;
  --teal700: #028577;
  --teal600: #3EA992;
  --teal500: #89D1C7;
  --teal100: #F1FBF9;
  --green700: #78C99E;
  --green400: #A8E6BD;
  --green200: #C7EFD3;
  --green100: #E3F8EC;
  --yellow700: #FFB800;
  --yellow400: #FED450;
  --yellow300: #FCE38D;
  --grey900: #282B36;
  --grey600: #66738A;
  --grey500: #9FAABE;
  --grey400: #D4DAE3;
  --grey200:#F3F6FB;
  --grey100: #FAFAFD;
  --overlay: rgba(36, 39, 48, 0.5);
  --red700: #EC4C47;
  --red400: #F58282;
  --orange700: #FFA73F;
  --orange400: #FFC888;
  --purple700:#8F26F0;
  --purple400: #FFE55B;
  --brightGreen700: #06AB16;
  --brightGreen400: #A6F7AE;
  --cyan700: #03A6CA;
  --cayn400: #4FDBFA;
  --blue700: #3D8BED;
  --info: var(--blue700);
  --success: var(--brightGreen700);
  --warning: var(--orange700);
  --error: var(--red700);
  --labels: var(--grey600);
  --iconDefault: var(--grey500);
  --btnDisabled: var(--grey400);
  --inputDefault: var(--grey400);
  --inputDisabled: var(--grey200);
  --screenBackground: var(--grey100);
  --btnHoverPrimary: var(--yellow400);
  --btnPrimary: var(--yellow300);
  --brandColor: var(--teal900);
  --btnSecondary: white;
  --iconActive: var(--teal600);
  --inputActive: var(--teal500);
  --fontColor: var(--grey900);
  --border: var(--grey200);
  --checkbox: var(--teal700);
}

@mixin gradient(){
  background: linear-gradient(96.68deg, #78C99E -4.29%, #C7EFD3 24.32%, #E3F8EC 35.52%, #E3F8EC 64.28%, #C7EFD3 80.81%, #78C99E 125.09%);
}

@mixin checkbox-label-font(){
  font-size: 16px;
  line-height: 24px;
  color: var(--fontColor);
}

@mixin input-label-font(){
  color: var(--labels);
  font-size: 14px;
  line-height: 16px;
}

@mixin info-font(){
  font-size: 14px;
  line-height: 20px;
  color: var(--iconDefault);
}