@mixin gradient(){
  background: linear-gradient(96.68deg, #78C99E -4.29%, #C7EFD3 24.32%, #E3F8EC 35.52%, #E3F8EC 64.28%, #C7EFD3 80.81%, #78C99E 125.09%);
}

@mixin checkbox-label-font(){
  font-size: 16px;
  line-height: 24px;
  color: var(--fontColor);
}

@mixin input-label-font(){
  color: var(--labels);
  font-size: 14px;
  line-height: 16px;
}

@mixin info-font(){
  font-size: 14px;
  line-height: 20px;
  color: var(--iconDefault);
}

@mixin tooltip-font(){
  font-size: 14px;
  line-height: 24px;
  color: var(--tooltipFont);
}

@mixin underlined-font(){
  font-size: 14px;
  line-height: 16px;
  text-decoration-line: underline;
  color: var(--iconActive);
}

@mixin paragraph-font(){
  font-size: 16px;
  line-height: 24px;
  color: var(--fontColor);
}