@import '@assets/mixin.scss';

.otherBrowserMessageTop {
  text-align: left;
  @include fontFamily();
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #000000;
  padding-bottom: 28px;
}

.otherBrowserMessageBottom {
  text-align: left;
  font-size: 14px;
  color: #282b36;
}
