.downloadContainer{
  height: 29px;
  position: absolute;
  top: 0px;
  right: -6px;
  cursor: pointer;
  z-index: 10;
}

.previewWrapper {
  position: relative;
}

.fileItemWrapper {
  position: relative;
  width: 100%;
}
