@import "../../stories/assets/mixin";
.container {
  width: 100%;
  height: 100vh;
  text-align: center;
  background-size: cover;
  background-position: center;
}

.title {
  font-size: 20px;
  line-height: 28px;
  transform: translateY(94px);
  color: #ffffff;
  width: 161px;
  margin: auto;
}
