@use '../../assets/mixin' as *;

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
  gap: 16px;
  padding-block: 12px 88px;
  animation: fade 0.5s linear;

  @include md-breakpoint {
    gap: 8px;
    padding: 8px 8px 88px;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.header {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.greeting {
  @include fontFamily();
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
  color: var(--Colors-Neutral-Neutral-900);

  @include md-breakpoint {
    font-size: 20px;
  }
}

.subtitle {
  @include fontFamily();
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-transform: capitalize;
  color: var(--Colors-Neutral-Neutral-900);
}
