@import '../../assets/mixin';
.container {
  width: 100%;
  text-align: center;
  background-size: cover;
  background-position: center;
  flex: 1;
}

.title {
  font-size: 20px;
  line-height: 28px;
  transform: translateY(40px);
  color: #ffffff;
  width: 161px;
  margin: auto;
}
