.buttonContainer{
  width: 100%;
  margin-bottom: 25px;
  .button {
    display: flex;
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    text-decoration: none;
    border-color: white !important;
    background-color: white;
    justify-content: space-between;
    //label {
    //  display: none;
    //}
    label {
      font-size: 14px;
      color: black;
      width: 15%;
      font-weight: normal;
    }
    input{
      width: 100% !important;
    }
    p:first-child, p:last-child {
      flex:1;
      margin: 0;
    }
  }
}

.middleColumn {
  width: 30%;
  div {

    div {
      width: 100% !important;
    }
  }
}

.rightcolumn {
  width: 30%;
  div {
    div {
      width: 100% !important;
    }
  }
}
