/*
 *  Copyright 2023 LiteFarm.org
 *  This file is part of LiteFarm.
 *
 *  LiteFarm is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  LiteFarm is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 *  GNU General Public License for more details, see <https://www.gnu.org/licenses/>.
 */

@import '@assets/mixin.scss';

@keyframes menu-collapse {
  0% {
    flex: 0 0 var(--global-side-menu-width);
  }

  80% {
    flex: 0 0 var(--global-compact-side-menu-width);
  }

  90% {
    flex: 0 0 calc(var(--global-compact-side-menu-width) + 2px);
  }

  100% {
    flex: 0 0 var(--global-compact-side-menu-width);
  }
}

@keyframes menu-expand {
  0% {
    flex: 0 0 var(--global-compact-side-menu-width);
  }

  80% {
    flex: 0 0 var(--global-side-menu-width);
  }

  90% {
    flex: 0 0 calc(var(--global-side-menu-width) + 2px);
  }

  100% {
    flex: 0 0 var(--global-side-menu-width);
  }
}

@keyframes menu-initial {
  0% {
    flex: 0 0 var(--global-compact-side-menu-width);
  }

  20% {
    flex: 0 0 var(--global-side-menu-width);
  }

  40% {
    flex: 0 0 calc(var(--global-side-menu-width) + 16px);
  }

  60% {
    flex: 0 0 calc(var(--global-side-menu-width) - 8px);
  }

  80% {
    flex: 0 0 calc(var(--global-side-menu-width) + 4px);
  }

  90% {
    flex: 0 0 calc(var(--global-side-menu-width) - 2px);
  }

  100% {
    flex: 0 0 var(--global-side-menu-width);
  }
}

@keyframes toggle-collapse {
  0% {
    left: calc(var(--global-side-menu-width) - 14px);
    transform: rotate(0);
  }

  80% {
    left: calc(var(--global-compact-side-menu-width) - 13px);
    transform: rotate(-180deg);
  }

  90% {
    left: calc(var(--global-compact-side-menu-width) - 11px);
    transform: rotate(-185deg);
  }

  100% {
    left: calc(var(--global-compact-side-menu-width) - 13px);
    transform: rotate(-180deg);
  }
}

@keyframes toggle-expand {
  0% {
    left: calc(var(--global-compact-side-menu-width) - 13px);
    transform: rotate(-180deg);
  }

  80% {
    left: calc(var(--global-side-menu-width) - 14px);
    transform: rotate(0);
  }

  90% {
    left: calc(var(--global-side-menu-width) - 12px);
    transform: rotate(5deg);
  }

  100% {
    left: calc(var(--global-side-menu-width) - 14px);
    transform: rotate(0);
  }
}

@keyframes toggle-initial {
  0% {
    left: calc(var(--global-compact-side-menu-width) - 13px);
    transform: rotate(-180deg);
  }

  20% {
    left: calc(var(--global-side-menu-width) - 14px);
    transform: rotate(0deg);
  }

  40% {
    left: calc(var(--global-side-menu-width) + 2px);
    transform: rotate(20deg);
  }

  60% {
    left: calc(var(--global-side-menu-width) - 24px);
    transform: rotate(-10deg);
  }

  80% {
    left: calc(var(--global-side-menu-width) - 10px);
    transform: rotate(5deg);
  }

  90% {
    left: calc(var(--global-side-menu-width) - 16px);
    transform: rotate(-2.5deg);
  }

  100% {
    left: calc(var(--global-side-menu-width) - 14px);
    transform: rotate(0deg);
  }
}

@keyframes toggle-color-initial {
  0% {
    background-color: white;
  }

  50% {
    background-color: var(--green700);
  }

  100% {
    background-color: white;
  }
}


.sideMenu {
  .drawerContainer {
    background-color: var(--teal700);
    z-index: 1299;
  }

  .drawerHeader {
    svg {
      path {
        color: var(--teal50);
      }
    }
  }

  .drawerContent {
    padding: 0;
    margin-bottom: -16px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid #D1E9D9;
  padding: 0;
  height: 100%;
  flex: 0 0 var(--global-side-menu-width);
  animation-name: menu-initial;
  animation-duration: 0.9s;
  animation-fill-mode: forwards;

  @include xs-breakpoint {
    border: none;
    background-color: var(--teal700);
  }

  @include sm-breakpoint {
    width: var(--global-side-menu-width);
    height: 100vh;
    position: sticky;
    top: 0;
    overflow: auto;
    background-color: var(--bgInputListTile);
    z-index: 1299;
  }

  &.compactContainer {
    flex: 0 0 var(--global-compact-side-menu-width);
    animation-name: menu-collapse;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    overflow: hidden;

    .listItem {
      padding-right: 16px;

      &:not(.logoListItem) {
        padding-left: 24px;
      }
    }
  }

  &.expandedContainer {
    animation-name: menu-expand;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    overflow: visible;
  }

  &.compactContainer, &.expandedContainer {
    .animatedContent {
      transition: opacity 0.5s;
    
      &.hiddenContent {
        opacity: 0;
        flex: 0;
        width: 0;
        height: 0;
        margin: 0;
      }
    }
    
    .animatedLogo {
      overflow: hidden;
      height: 64px;
      transition: height 0.5s;
    
      &.compactLogo {
        height: 36px;
    
        svg {
          transform: translateX(-24px);
        }
      }
    }
  }
}

.list {
  padding: 0;
}

.listItem {
  padding: 16px;
  border-top: 1px solid #E9EBF8;
  display: flex;
  justify-content: flex-start;

  &.logoListItem {
    justify-content: center;
  }

  @include sm-breakpoint {
    &:hover {
      background-color: var(--teal50);
    }
  }

  @include xs-breakpoint {
    border: none;

    &.logoListItem {
      display: none;
    }

    &.adminActionListItem {
      background-color: var(--teal600);
      border-top: 1px solid var(--teal700);
    }
  }

  &:hover span {
    overflow: visible;
  }
}

.activeListItem {
  background-color: #A2D2CD;

  &.subItem:not(:hover) {
    background-color: var(--secondaryGreen50);

    .subItemText {
      span {
        text-shadow: var(--secondaryGreen200) 0px 1px;
        color: var(--secondaryGreen800);
      }
    }
  }

  @include xs-breakpoint {
    &.subItem {
      background-color: var(--secondaryGreen50);
    }

    &.adminActionListItem {
      background-color: #A2D2CD;
    }

    &:hover {
      background-color: #A2D2CD;

      .listItemText {
        color: var(--teal700);
      }

      .icon {
        path {
          stroke: var(--teal700);
        }
      }

      .expandCollapseIcon {
        path {
          fill: var(--teal700);
        }
      }
    }
  }
}

.inactiveListItem {
  @include xs-breakpoint {
    .listItemText {
      color: var(--teal50);
    }

    .icon {
      path {
        stroke: var(--teal50);
      }
    }

    .expandCollapseIcon {
      path {
        fill: var(--teal50);
      }
    }

    &.subItem {
      background-color: white;
    }


    &:hover:not(.subItem) {
      background-color: var(--teal700);

      &.adminActionListItem {
        background-color: var(--teal600);
      }

      .listItemText {
        color: var(--teal50);
      }

      .icon {
        path {
          stroke: var(--teal50);
        }
      }

      .expandCollapseIcon {
        path {
          fill: var(--teal50);
        }
      }
    }
  }
}

.listItemText {
  margin: 0;
  color: var(--teal700);
  margin-left: 8px;

  span {
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.icon {
  min-width: 0px;

}

.expandCollapseIcon {
  width: 24px;
  height: 24px;
  transition: transform 0.5s;

  path {
    fill: var(--teal700);
  }

  &.collapseIcon {
    transform: rotate(-180deg);
  }

  &.compactExpandIcon {
    transform: rotate(-90deg);
  }
}

.subList {
  padding: 8px 0;
  background-color: var(--bgInputListTile);
}

.subItem {
  border: none;
  padding: 8px 16px;
}

.subItemText {
  color: var(--teal700);

  span {
    font-weight: 600;
  }
}

.menuToggle {
  border: 1px solid #D1E9D9;
  padding: 4px;
  position: fixed;
  top: calc(var(--global-navbar-height) / 2 - 12px);
  left: calc(var(--global-side-menu-width) - 14px);
  background-color: white;
  z-index: 1300;
  transition: transform 0.5s;
  animation: toggle-initial 0.9s forwards, toggle-color-initial 2s;

  svg {
    height: 16px;
    width: 16px;
  }

  &:hover {
    background-color: var(--green500);
    
    svg {
      path {
        stroke: var(--green800);
      }
    }
  }

  &.compactMenuToggle {
    transform: rotate(-180deg);
    left: calc(var(--global-compact-side-menu-width) - 13px);
    animation-name: toggle-collapse;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }

  &.expandedMenuToggle {
    animation-name: toggle-expand;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }
}
