
.inputWrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  position: relative;
}

.crossWrapper {
  top: 2px;
  position: absolute;
  right: 0;
  line-height: 40px;
  cursor: pointer;
  width: 37px;
  display: flex;
  justify-content: center;
  background-color: white;
}

.input {
  flex-grow: 1;
  border: none;
  padding-left: 8px;
  font-size: 16px;
  line-height: 24px;
  color: var(--fontColor);
  font-family: 'Open Sans', 'SansSerif', serif;
  background: transparent;
  min-width: 0;
}

.input[type='number'] {
  width: 1px;
}

.input::-webkit-inner-spin-button,
.input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input ::placeholder {
  color: var(--grey500);
}

.input:disabled {
  background-color: var(--inputDisabled);
  color: var(--grey600);
  border: 1px solid var(--grey400);
  box-sizing: border-box;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-right: transparent;
}

.input:disabled ~ .pseudoInputContainer {
  border-color: var(--inputDefault);
}

.input:disabled ~ .pseudoInputContainer .verticleDivider {
  border-color: var(--inputDefault);
}

.fullLength {
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  overflow: visible;
  position: relative;
  justify-content: start;
}

.sm {
  margin-left: 0px;
}

.input:focus:enabled ~ .pseudoInputContainer .verticleDivider {
  border-color: var(--inputActive);
}

.input:focus:enabled ~ .pseudoInputContainer {
  border-color: var(--inputActive);
}

.input:focus:enabled {
  outline: none;
}

.labelContainer {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.hiddenInput {
  display: none;
}

.inputContainer {
  display: flex;
  height: 48px;
  position: relative;
}

.pseudoInputContainer {
  border: 1px solid var(--grey400);
  box-sizing: border-box;
  border-radius: 4px;
  height: 100%;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  pointer-events: none;
}

.verticleDivider {
  border-left: 1px solid var(--grey400);
  padding-left: 80px;
}

.inputError {
  border-color: var(--error);
}

.flex {
  display: flex;
}

.none {
  display: none;
}

.noBorderRadius {
  border-radius: 0px;
}

.leaf {
  transform: translate(4px, 3px);
  margin-left: 4px;
}

.currency {
  font-size: 16px;
  line-height: 20px;
  color: var(--labels);
  font-style: normal;
  font-weight: normal;
  font-family: 'Open Sans', 'SansSerif', serif;
  position: absolute;
  left: 0;
  transform: translate(8px, 13.5px);
}
