@import '@assets/mixin.scss';

.container {
  display: flex;
  // align-items: center;
  justify-content: space-between;

  border-radius: 8px;
  box-shadow: 0px 2px 4px 0px rgba(43, 48, 58, 0.1);

  .button {
    border-radius: 0;
    svg {
      width: 24px;
      height: 24px;
    }
  }
  
  button:first-of-type {
    border-radius: 8px 0 0 8px;

    @include xs-breakpoint {
      border-radius: 0 0 0 8px;
    }
  }
  
  button:last-of-type {
    border-radius: 0 8px 8px 0;

    @include xs-breakpoint {
      border-radius: 0 0 8px 0;
    }
  }

  // desktop (floating)
  @include sm-breakpoint {
    width: 432px;
  }

  // mobile (drawer)
  @include xs-breakpoint {
    border-radius: 0px 0px 16px 16px;
    box-shadow: 0px -2px 4px 0px rgba(102, 115, 138, 0.1);
  }
}

.buttonText {
  display: block;
  margin: 4px 8px;
}
.button {
  flex-grow: 1;
}

// TODO: fix filter circle
.circle {
  position: absolute;
  bottom: 0;
  transform: translate(0, -47px);
  width: 4px;
  height: 4px;
  border-radius: 2px;
  background-color: var(--teal700);
}
