@import '@assets/mixin.scss';

.container {
  display: flex;
  justify-content: space-between;

  border-radius: 8px;
  box-shadow: 0px 2px 4px 0px rgba(43, 48, 58, 0.1);

  .button {
    // Uneven button sizes if one string much longer than others
    width: calc(100% / 3);
    border-radius: 0;
    @include svgColorFill(var(--Colors-Accent---singles-Blue-dark));
    .circle {
      background-color: var(--Colors-Accent---singles-Blue-dark);
    }
    svg {
      width: 24px;
      height: 24px;
    }
  }

  // Copied from active status in Button
  .selected {
    background: var(--Colors-Accent---singles-Blue-dark);
    border: var(--White);
    box-shadow: none;
    color: var(--White);
  }

  .button:hover, .button:active, .selected {
    @include svgColorFill(var(--White));
    .circle {
      background-color: var(--White);
    }
  }
  
  button:first-of-type {
    border-radius: 8px 0 0 8px;

    @include xs-breakpoint {
      border-radius: 0;
    }
  }
  
  button:last-of-type {
    border-radius: 0 8px 8px 0;

    @include xs-breakpoint {
      border-radius: 0;
    }
  }

  // desktop (floating)
  @include sm-breakpoint {
    width: 432px;
  }

  // mobile (drawer)
  @include xs-breakpoint {
    border-radius: 0px 0px 16px 16px;
    box-shadow: 0px -2px 4px 0px rgba(102, 115, 138, 0.1);
  }
}

.buttonText {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 8px 8px;
  max-width: 100%;

  // mobile (drawer)
  @include xs-breakpoint {
    margin: 16px 8px;
  }
}

.button {
  flex-grow: 1;
}

.label {
  margin-top: -4px;
  font-weight: 400;
  // Menu item text too long
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  // Awkward multi-line text on small screens
  line-height: normal;

  // mobile (drawer)
  @include xs-breakpoint {
    display: none;
  }
}

.circle {
  position: absolute;
  translate: 0 -2px;
  width: 4px;
  height: 4px;
  border-radius: 2px;
}
