.container {
  display: flex;

  height: 64px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  z-index: 1301;

}

.button {
  flex-grow: 1;
  text-align: center;
  border: 1px solid var(--grey400);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;

  .svg {
    fill: var(--grey600);
  }
}

.spotlighted {
  border-top: 8px solid var(--teal700);
  padding-bottom: 7px;

  .svg {
    fill: var(--teal700);
  }
}

.spotlightTitle {
  color: var(--teal700);
  font-weight: 600;
  text-align: left;
  font-family: 'Open Sans', 'SansSerif', serif;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 8px;
}

.spotlightText {
  margin-bottom: 8px;
  text-align: left;
  font-family: 'Open Sans', 'SansSerif', serif;
  font-size: 14px;
  line-height: 20px;
}

.spotlightButton {
  font-family: 'Open Sans', 'SansSerif', serif;
  font-weight: 600;
  color: var(--grey900);
}
button:focus {
  outline: none;
}
