/*
*  Copyright 2024 LiteFarm.org
*  This file is part of LiteFarm.
*
*  LiteFarm is free software: you can redistribute it and/or modify
*  it under the terms of the GNU General Public License as published by
*  the Free Software Foundation, either version 3 of the License, or
*  (at your option) any later version.
*
*  LiteFarm is distributed in the hope that it will be useful,
*  but WITHOUT ANY WARRANTY; without even the implied warranty of
*  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
*  GNU General Public License for more details, see <https://www.gnu.org/licenses/>.
*/

.section {
  padding:16px;
  background: var(--White);
  border-radius: 4px;
  border: 1px solid var(--Colors-Neutral-Neutral-100);
}

.expanded {
  border: 1px solid var(--Form-focus);
  box-shadow: 0px 0px 4px 0px var(--Colors-Neutral-Neutral-200);
}

.expandedContentWrapper {
  margin-top: 16px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px
}
