/*
 *  Copyright 2023-2024 LiteFarm.org
 *  This file is part of LiteFarm.
 *
 *  LiteFarm is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  LiteFarm is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 *  GNU General Public License for more details, see <https://www.gnu.org/licenses/>.
 */
@import '@assets/mixin.scss';

.mainContentWithIcon {
  display: flex;
}

.mainContentWrapper {
  width: calc(100% - 24px);
}

.clickable {
  cursor: pointer;
}

.icon {
  color: var(--grey500);
}

.iconWrapper {
  height: 24px;
}

.mainContentWrapper.leftCollapse {
  order: 1;
}

.pill {
  height: 24px;
  padding: 8px 16px;
  background: var(--Colors-Neutral-Neutral-50);
  color: var(--Colors-Neutral-Neutral-600);
  width: 100%;
  justify-content: center;
  @include lg-breakpoint {
    width: unset;
  }
}

.pillAlwaysVisibleContent {
  max-height: 56px;
  padding: 0 16px;
  @include lg-breakpoint {
    align-items: center;
    gap: 8px;
    display: flex;
  }
}

.pillMainContentWrapper {
  width: auto;
  gap: 8px;
  @include lg-breakpoint {
    display: flex;
  }
}

.pillMainContentWithIcon {
  text-align: center;
  gap: 8px;
  justify-content: center;
  margin-bottom: 8px;
  
  @include lg-breakpoint {
    margin-bottom: 0px;
  }
}