/*
 *  Copyright 2024 LiteFarm.org
 *  This file is part of LiteFarm.
 *
 *  LiteFarm is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  LiteFarm is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 *  GNU General Public License for more details, see <https://www.gnu.org/licenses/>.
 */

.text {
  font-family: "Open Sans", "SansSerif", sans-serif;
  font-size: 12px;
  color: var(--Colors-Accent---singles-Blue-full);
}

.iconButton {
  width: 48px;
  height: 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid 1px var(--Colors-Accent---singles-Blue-full);
  border-radius: 4px;
  background-color: var(--Colors-Accent---singles-Blue-light);
  padding: 0 4px;

  .text {
    line-height: 12px;
    margin-top: -2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
  }

  svg {
    width: 26px;
    height: 26px;
    padding-left: 2px;
    margin-top: -2px;

    path {
      stroke: var(--Colors-Accent---singles-Blue-full);

      &:nth-child(2) {
        fill: var(--Colors-Accent---singles-Blue-full);
      }
    }
  }
}

.textButton {
  display: flex;
  align-items: center;
  gap: 2px;
}
