.harvestDetails {
  display: flex;
}

.harvestInputs {
  min-width: 200px;
  flex-grow: 1;
  margin-left: 24px
}

.container {

}

@media (min-width: 1024px) {
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px
  }
  .harvestInputs {
  }
}

@media (max-width: 359px) {
  .container {
  }
  .harvestInputs {
    margin-left: 0;
    width: 100%;
    padding-top: 24px;
  }
  .harvestDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
