.wholeFarmRevenueContainer {
  background: var(--grey100);
  border: 1px solid var(--teal500);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 8px;
}

.textColor {
  color: var(--teal700);
}
.gridContainer {
  display: grid;
  grid-template-columns: 7fr 3fr 24px;
  column-gap: 12px;
}

.gridItem {
  align-self: center;
}
