.progress {
  height: 6px;
  background:linear-gradient(0.25turn, #FF9A89 20%, #ebf8e1, #028577 50%, #ebf8e1, #FF9A89 80%);
}

.leftText {
  float: left;
}

.rightText {
  float: right;
}

.centerText {
  margin: 0 auto;
  width: 100px;
  text-align: center;
}