.moodContainer {
  width: 80%;
  margin-bottom: 2em;
  height: auto;
}

.circleImg {
  display: block;
  margin: 0 auto;
  padding-top: 1.5em;
}

.typeName {
  text-align: center;
}

.bottomContainer {
  width: 100%;
  max-width: 1024px;
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-weight: 600;
  align-items: center;
  padding: 2% 5% 2% 5%;
  margin-left: -5%;
  background: white;
  box-shadow: 0 -5px 5px -5px #333;
  border-radius: 10px;
}
