/*
 *  Copyright 2019, 2020, 2021, 2022, 2023 LiteFarm.org
 *  This file is part of LiteFarm.
 *
 *  LiteFarm is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  LiteFarm is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 *  GNU General Public License for more details, see <https://www.gnu.org/licenses/>.
 */

.radioLabel > span{
    border-radius: 32px;
    padding: 4px 12px;
    border: 1px solid var(--grey400);
    background-color: var(--grey200);
    color: var(--grey600);
    margin-left: 4px;
    font-size: .875rem;
}
.radioLabel.active > span{
    border: 1px solid var(--teal700);
    background-color: var(--teal600);
    color: #fff;
}