.logContainer {
    width: 100%;
    max-width: 1024px;
    height: 100vh;
    padding: 24px 24px 150px 24px;
    display: flex;
    flex-direction: column;
  }
  .grid {
    width: 100%;
  }
  
  .typeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #e8f0eb;
    box-shadow: 0 2px 10px #ededed;
    border-radius: 10px;
    width: 90%;
    margin: 0 auto;
    height: 100px;
  }
  
  .col {
    max-height: 320px;
    padding: 0;
    margin-bottom: 4%;
    img {
      width: 35px;
      margin-bottom: 5%;
    }
  }

  .buttonContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
    margin-top: 5px;
    padding-bottom: 0.3em;
    button {
      width: 90%;
      margin: 0 auto;
    }
  }

  .circleButtonOnClick {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    margin: 0px auto;
    background: rgb(130, 207, 156);
    box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 4px;
    img {
      width: 80%;
      display: block;
      margin: 0 auto;
      padding-top: 10%;
    }

  }

  .circleButton {
    width: 80px; 
    height: 80px; 
    border-radius: 50px; 
    margin: 0px auto; 
    background: rgb(130, 207, 156); 
    box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 4px;

  }

  .cancelButton {
    width: 40%;
    font-size: 20px;
    color: #4d4d4d;
  }

  .bottomContainer {
    width: 100%;
    max-width: 1024px;
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 600;
    align-items: center;
    padding: 2% 5% 2% 5%;
    margin-left: -5%;
    background: white;
    box-shadow: 0 -5px 5px -5px #333;
    border-radius: 10px;
  }

  .buttonName {
    width: 100%;
    text-align: center;
    font-size: 13px;
    padding-top: 8px;
  }

  .imgCol {
    padding: 0;
    margin-bottom: 12px;
  }

  .textContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 5%;
    font-weight: 900;
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
  }