.filterButtonContainer {
  position: relative;
  height: 100%;
  width: 40px;
  display: flex;
  justify-content: center;
  background-color: var(--grey200);
  border-radius: 4px;
  border: 1px solid var(--grey400);

  &.active {
    background-color: var(--teal100);
    border: 1px solid var(--teal500);

    .filterButtonIcon {
      color: var(--teal600);
    }
  }

  &:hover {
    background-color: var(--white, #FFF);
    border: 1px solid var(--grey600);
  }
}

.filterButton {
  display: flex;
  align-items: center;
  padding: 8px;
}

.filterButtonIcon {
  font-size: 24px;
  color: var(--grey600);
}

.circleContainer {
  position: absolute;
  top: 2px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.circle {
  width: 6px;
  height: 6px;
  border-radius: 3px;
  background-color: var(--teal600);
}
