.logContainer{
  width: 100%;
  max-width: 1024px;
  height: 100vh;
  padding: 50px 5% 0 5%;
  display:flex;
  flex-direction: column;
}
.grid{
 width: 100%;
}

.typeContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #E8F0EB;
  box-shadow: 0 2px 10px #EDEDED;
  border-radius: 10px;
  width: 90%;
  margin: 0 auto;
  height: 100px;
}

.col{
  max-height: 320px;
  padding: 0;
  margin-bottom: 4%;
  img{
    width: 35px;
    margin-bottom: 5%;
  }
}
