/*
 *  Copyright 2022-2024 LiteFarm.org
 *  This file is part of LiteFarm.
 *
 *  LiteFarm is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  LiteFarm is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 *  GNU General Public License for more details, see <https://www.gnu.org/licenses/>.
 */

.container {
  display: flex;
  column-gap: 8px;
  align-items: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 56px;
  height: 28px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.track {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--Colors-Neutral-Neutral-100);
  transition: background-color 0.1s ease-out;
}

/* Thumb */
.track:before {
  position: absolute;
  content: '';
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: var(--Colors-Neutral-Neutral-400);
  transition: 0.1s ease-out;
}

/* Track (active) */
input:checked + .track {
  background-color: var(--Colors-Light-green);
}

/* Thumb (active) */
input:checked + .track:before {
  transform: translateX(28px);
  background-color: var(--Colors-Primary-green);
}

/* Rounded track and thumb */
.track.round {
  border-radius: 34px;
}

.track.round:before {
  border-radius: 50%;
}

/* Yes/No text */
.innerText {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  color: white;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: -0.528px;

  /* center in the track space minus thumb */
  width: calc(100% - 20px);
  text-align: center;

  transition: opacity 0.1s;
}

.no {
  right: 0;
}

input:checked + .track .no {
  opacity: 0;
}

.yes {
  left: 0;
  opacity: 0;
}

input:checked + .track .yes {
  opacity: 1;
}

/* Left/Right toggle (= variant with no off/on state) */
.track.track.toggle {
  background-color: var(--Colors-Neutral-Neutral-50);
  outline: 1px solid var(--Colors-Neutral-Neutral-100);

  .innerText {
    display: none;
  }
}

.track.track.toggle:before {
  background-color: var(--Colors-Neutral-Neutral-900);
}

/* Disabled / Read-only */
.track.track.disabled {
  background-color: var(--Colors-Neutral-Neutral-50);
  outline: none;
  cursor: default;

  .innerText {
    display: none;
  }
}

.track.track.disabled:before {
  background-color: var(--Colors-Neutral-Neutral-100);
}
