.container {
  display: flex;
  column-gap: 8px;
  align-items: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 56px;
  height: 28px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #d0d4db;
  transition: background-color 0.3s ease-out;
}

.slider:before {
  position: absolute;
  content: '';
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: #858fa1;
  transition: 0.3s ease-out;
}

input:checked + .slider {
  background-color: #78ca9e;
}

input:checked + .slider:before {
  transform: translateX(28px);
  background-color: #247360;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
