/*
 *  Copyright 2024 LiteFarm.org
 *  This file is part of LiteFarm.
 *
 *  LiteFarm is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  LiteFarm is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 *  GNU General Public License for more details, see <https://www.gnu.org/licenses/>.
 */

@import '../../assets/mixin.scss';

.container {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  z-index: 101; // position above FloatingButtonMenu

  --bottom-offset: 16px;

  // desktop
  @include sm-breakpoint {
    &.withCompactSideMenu {
      margin-left: calc(var(--global-compact-side-menu-width) / 2);
    }
    &.withExpandedSideMenu {
      margin-left: calc(var(--global-side-menu-width) / 2);
    }
    bottom: var(--bottom-offset);
  }

  // mobile
  @include xs-breakpoint {
    width: 100%;
    bottom: 0;
    left: 0;
    transform: none;
  }
}
