/*
 *  Copyright 2023 LiteFarm.org
 *  This file is part of LiteFarm.
 *
 *  LiteFarm is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  LiteFarm is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 *  GNU General Public License for more details, see <https://www.gnu.org/licenses/>.
 */

@import '../../assets/mixin';

.card {
  width: 400px;
  height: fit-content;

  border-radius: 8px;
  background: #ffdad9;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  position: fixed;
  bottom: 32px;
  z-index: 1400; // highest existing z-index is 1302

  left: calc(50% - 200px + var(--global-side-menu-width) / 2);
}

.compactMenu {
  left: calc(50% - 200px + var(--global-compact-side-menu-width) / 2);
}

.cardContent {
  position: relative;
  padding-inline: 8px;
  padding-block: 8px;

  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.bubble {
  width: 124px;
  height: 100px;
  flex-shrink: 0;
}

.text {
  display: flex;
  height: 100%;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 2px;

  font-family: Open Sans;
  line-height: 24px;
  font-style: normal;
}

.closeButton {
  align-self: flex-start;
  margin-left: auto;
}

.better {
  color: #426f57;
  font-size: 20px;
  font-weight: 400;
}

.linkSection {
  display: flex;
  align-items: center;
}

.link {
  text-decoration: none;
}

.releaseNotes {
  color: #520f0d;
  font-size: 19px;
  font-weight: 700;

  :visited {
    color: #520f0d;
  }
}

@include xs-breakpoint {
  .card {
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100vw;
  }

  .cardContent {
    padding: 16px;
    gap: 8px;
  }

  .bubble {
    width: 40%;
    max-width: 100px;
    height: 80px;
  }

  .text {
    gap: 0px;
  }

  .better {
    font-size: 16px;
    margin-bottom: -2px;
  }

  .releaseNotes {
    font-size: 14px;
  }
}
