.label {
    font-style: normal;
    font-weight: normal;
    color: var(--grey900);
    font-size: 16px;
    line-height: 16px;
    font-family: 'Open Sans', 'SansSerif', serif;
    margin-bottom: 4px;
    margin-top: 0;
}