/*
 *  Copyright 2025 LiteFarm.org
 *  This file is part of LiteFarm.
 *
 *  LiteFarm is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  LiteFarm is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 *  GNU General Public License for more details, see <https://www.gnu.org/licenses/>.
 */

@use '@assets/mixin' as *;

.manageEsci {
  display: flex;
  padding: 16px;
  align-items: center;
  gap: 36px;
  align-self: stretch;

  border-radius: 4px;
  background: var(--Box-bg, #f5fafa);

  /* simple-box-shadow */
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.05);

  @include md-breakpoint {
    flex-direction: column;
    justify-content: left;
    align-items: start;
    gap: 4px;
    & > div {
      flex: unset;
    }
  }
}

.manageText {
  color: var(--Colors-Neutral-Neutral-400, #858fa1);
  font-feature-settings: 'liga' off, 'clig' off;
  @include fontFamily();
  font-size: 16px;
  font-weight: 400;
  line-height: 20px; /* 125% */
}

.manageLink {
  display: flex;
  min-width: 174px;
  height: 32px;

  & > a {
    display: flex;
    flex: 1 0 auto;
    padding: 8px 12px;
    align-items: center;
    gap: 4px;

    color: var(--Colors-Neutral-Neutral-900);
    text-align: center;
    @include fontFamily();
    font-size: 14px;
    font-weight: 600;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.4px;
    text-decoration: none;
  }
}

.externalLinkIcon {
  @include svgColorFill(var(--Colors-Neutral-Neutral-900));
}
