@use '@assets/mixin' as *;

.dialogTitle {
  background: #f3f6fb;
  border-radius: 4px 4px 0px 0px;
}

.rootDialog {
  height: 351px;
}

.initYear {
  color: #037a0f;
  font-weight: 600;
  @include fontFamily();
}

.allYears {
  @include fontFamily();
}
