@import '../../../assets/mixin.scss';

.dialogTitle {
  background: #F3F6FB;
  border-radius: 4px 4px 0px 0px;
}

.rootDialog {
  height: 351px;
}

.initYear {
  color: #037A0F;
  font-weight: 600;
  @include fontFamily();
}

.allYears {
  @include fontFamily();
}
