@import '../../../assets/mixins';

.container {
  top: 0;
  transform: translateY(calc(39.68vh - 110px));
  margin: 0 8.89% 0 8.89%;
  padding: 4.44% 9.44%;
  width: 84%;
  display: grid;
  grid-template-areas:
    'city city'
    'date date'
    'temperature icon'
    'wind humidity';
  word-break: break-word;    
  background-color: var(--overlay);
  font-size: 3.88vw;
  line-height: 6.66vw;
  color: #ffffff;
  text-align: center;
}

.city {
  grid-area: city;
  font-size: 5vw;
  font-weight: bold;
}

.date {
  grid-area: date;
}

.temperature {
  grid-area: temperature;
  font-size: 14.44vw;
  line-height: 13.33vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.icon {
  grid-area: icon;
  display: flex;
  align-items: center;
  font-size: 15.55vw;
  justify-content: center;
  padding-top: 16px;
}

.wind {
  grid-area: wind;
  padding-top: 16px;
}

.humidity {
  grid-area: humidity;
  padding-top: 16px;
}

@include sm-breakpoint {
  .container {
    font-size: 2.8vw;
  }
}

@media only screen and (min-width: 1024px) {
  .container {
    transform: translateY(calc((100vh - 399px) * 0.65 - 110px));
    margin: 0 auto 0 auto;
    padding: 42.609px 90.516px;
    width: 806px;
    font-size: 36.75px;
    line-height: 63px;
  }

  .city {
    font-size: 47.25px;
  }

  .temperature {
    font-size: 136.5px;
    line-height: 126px;
    padding-top: 20px;
  }

  .icon {
    font-size: 144.375px;
    padding-top: 20px;
  }
  
  .wind {
    padding-top: 20px;
  }

  .humidity {
    padding-top: 20px;
  }
}
