.slideContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1024px;
  height: 100%;
  align-items: center;
  text-align: center;
}

.revertPadding {
  margin: -24px;
}

:global(.paging-item) {
  margin-right: 4px !important;
  margin-left: 4px !important;

}
:global([aria-label$="bullet"]) {
  fill: white !important;
}
.videoFlex {
  display: flex;
  justify-content: space-evenly;
  @media only screen and (max-width: 700px) {
    flex-direction: column;
  }
  @media only screen and (min-width: 700px) {
    flex-direction: row;
  }
}

.videoSpace {
  @media only screen and (max-width: 700px) {
    height: 16px;
  }
}
