/*
 *  Copyright 2025 LiteFarm.org
 *  This file is part of LiteFarm.
 *
 *  LiteFarm is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  LiteFarm is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 *  GNU General Public License for more details, see <https://www.gnu.org/licenses/>.
 */

@import '@assets/mixin.scss';

// TODO: cleanup this file

.container {
  display: flex;
  padding: 32px 24px;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  align-self: stretch;
}

.badge {
  //   display: flex;
  padding: 24px 16px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;

  border-radius: 8px;
  border: 1px solid var(--Colors-Neutral-Neutral-50, #f0f1f3);
  background: var(--Box-bg, #f5fafa);

  /* simple-box-shadow */
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.05);

  color: var(--Colors-Primary-Primary-teal-900, #16423d);
  font-family: 'Open Sans';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */

  .title {
    font-size: 16px;
    font-weight: 700;
  }
}

.consentBadge {
  color: var(--Colors-Accent---singles-Red-dark, #520f0d);
  display: flex;
  justify-content: center;
  font-family: 'Open Sans';
  font-size: 16px;
  font-style: italic;
  font-weight: 700;
  line-height: normal;

  border-radius: 4px;
  background: var(--Colors-Accent---singles-Red-light, #ffdad9);
  padding: 8px 16px;
  box-shadow: none;
}

.form {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid var(--Colors-Neutral-Neutral-100);

  &.expanded {
    border: 1px solid var(--Form-focus, #89d1c7);
  }
}

.formHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  padding-left: 8px;
}

.consentSection {
  display: flex;
  padding: 32px 24px;
  flex-direction: column;
  gap: 16px;
  align-self: stretch;
  width: 100%;

  .consentTitle {
    // I think these styles do nothing over and above h3
    overflow: hidden;
    color: var(--Colors-Neutral-Neutral-900, #2b303a);
    text-overflow: ellipsis;
    font-family: 'Open Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 150% */
  }
}

// Placeholder styles -- remove
.checkboxLabel {
  font-size: 16px;
  font-weight: 700;
  padding: 32px;
  display: flex;
  gap: 8px;
  width: 100%;
}
.marketTiles {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  padding: 32px;

  div {
    background-color: var(--Colors-Accent---singles-Purple-light);
    height: 100px;
    border-radius: 8px;
  }

  &.disabled {
    div {
      background-color: var(--Colors-Neutral-Neutral-100);
    }
  }
}
