/*
 *  Copyright 2025 LiteFarm.org
 *  This file is part of LiteFarm.
 *
 *  LiteFarm is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  LiteFarm is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 *  GNU General Public License for more details, see <https://www.gnu.org/licenses/>.
 */

@import '@assets/mixin.scss';

.container {
  display: flex;
  padding: 32px 24px;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.badge {
  padding: 24px 16px;
  border-radius: 8px;

  border: 1px solid var(--Colors-Neutral-Neutral-50);
  background: var(--Box-bg);
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.05);

  color: var(--Colors-Primary-Primary-teal-900);
  font-size: 16px;
  font-weight: 400;

  .title {
    font-size: 16px;
    font-weight: 700;
  }
}

.consentBadge {
  border-radius: 4px;
  background: var(--Colors-Accent---singles-Red-light);
  padding: 8px 16px;
  box-shadow: none;

  color: var(--Colors-Accent---singles-Red-dark);
  display: flex;
  justify-content: center;

  font-size: 16px;
  font-style: italic;
  font-weight: 700;
  line-height: normal;
}

.formCard {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid var(--Colors-Neutral-Neutral-100);

  &.expanded {
    border: 1px solid var(--Form-focus);
  }
}

.formCardHeader {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  padding-left: 8px;
}

.consentSection {
  width: 100%;
  display: flex;
  padding: 32px 24px;
  flex-direction: column;
  gap: 16px;

  .consentTitle {
    color: var(--Colors-Neutral-Neutral-900);
  }
}

/*------------------
 Placeholder styles -- remove when Pure Components are added */
.checkboxLabel {
  font-size: 16px;
  font-weight: 700;
  padding: 32px;
  display: flex;
  gap: 8px;
  width: 100%;
}
.marketTiles {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  padding: 32px;

  div {
    background-color: var(--Colors-Accent---singles-Purple-light);
    height: 100px;
    border-radius: 8px;
  }

  &.disabled {
    div {
      background-color: var(--Colors-Neutral-Neutral-100);
    }
  }
}
/*------------------*/
