.varietyCheck {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  input {
    width: 10%;
  }
}

.cropTemplate {
  display: flex;
  width: 100%;
  margin-bottom: 12px;
  flex-direction: column;
}

.nutrientInput {
  margin-bottom: 8px;
}

.nutrientLabel {
  font-weight: normal;
  margin: 0 0 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cropGroupTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
