@import "../../assets/colors";
.footer{
  padding: 0 16px 24px 16px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.buttonContainer{
  width: 100%;
  display: flex;
  flex-direction: row;
}

.buttonContainer > *{
  margin: 0 8px
}
.whiteBackground{
  background-color: white;
}

