.modal {
  width: 90%;
  text-align: center;
  margin: 0 auto;
}

.buttonContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
  margin-top: 5px;
  padding-bottom: 0.3em;
  button {
    width: 90%;
    margin: 0 auto;
  }
}

.popupTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10%;
  margin-top: 2em;
}

.close {
  width: 8%;
  img {
    width: 100%;
    max-width: 40px;
  }
}

.heading {
  align-self: center;
}

.padding {
  width: 8%;
  max-width: 40px;
}

.customContainer {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}
