/*
 *  Copyright 2025 LiteFarm.org
 *  This file is part of LiteFarm.
 *
 *  LiteFarm is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  LiteFarm is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 *  GNU General Public License for more details, see <https://www.gnu.org/licenses/>.
 */

// ----------------------
// Styles below are temporary
.placeholderTableWrapperCommon {
  flex: 1;
  overflow-y: auto;
}

// PLACEHOLDER; REMOVE WHEN REAL TABLE IS IMPLEMENTED
.placeholderTable {
  white-space: pre-wrap;
  background: #f5f5f5;
  padding: 1rem;
  border-radius: 4px;
  overflow-x: auto;
  font-size: 0.85rem;
  margin-block: 1rem;
  height: 100%;
}

.row.row {
  &:hover {
    background-color: var(--Colors-Backgrounds-table-row-hover);
  }

  /* remove the --Colors-Accent-Accent-yellow-400 border from selected rows */
  &[aria-checked='true'],
  &[aria-checked='true']:hover {
    & > td {
      border-color: transparent;

      &:first-child {
        border-color: transparent;
        border-left: none;
      }
      &:last-child {
        border-color: transparent;
        border-right: none;
      }
    }
  }
}
