.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 312px;
  width: 90vw;
  background: #fafafd;
  border-radius: 7.05466px;
  position: relative;
  padding: 28px 24px 30px 24px;
}
