@import '@assets/mixin.scss';

.list.list {
  background-color: var(--bgInputListTile);
  padding: 8px;
}

.sensorIcon.sensorIcon {
  margin: 0px;
  padding: 0px;
  @include svgColorFill(var(--Colors-Primary-Primary-teal-600));
}

.sensorLabel.sensorLabel {
  margin: 0px;
  color: var(--Colors-Neutral-Neutral-900, #2B303A);
  @include fontFamily();
  font-size: 16px;
  font-weight: 600;
  line-height: 30px; /* 187.5% */
}

.sensorChevron.sensorChevron {
  width: 24px;
  height: 24px;
  margin: 0px;
  color: var(--Colors-Neutral-Neutral-600);
}