.error {
  height: 24px;
  display: flex;
  align-items: center;

  svg {
    transform: translateY(3px);
  }
}
.errorIcon {
  color: var(--grey500);
}
.validIcon {
  color: var(--brightGreen700);
}
.icon {
  font-size: 20px;
  margin-right: 8px;
}
