.warningBox {
    border-color: var(--brown700) !important;
}

.warningIcon {
    color: var(--brown700) !important;
}

.viewNowLink {
    color: var(--brown700);
    text-decoration: underline;
    cursor: pointer;
}