@import "../../assets/mixin";
.container{
  margin: 39.68vh 8.89% 0 8.89%;
  padding: 14.78% 10.53%;
  width: 100%;
  display: grid;
  grid-template-columns: 78fr 25fr 11fr 11fr 25fr 78fr;
  grid-template-rows: 24fr 24fr 80fr 24fr;
  gap: 0px 0px;
  grid-template-areas:
    "city city city city city city"
    "date date date date date date"
    "temperature temperature temperature temperature . icon"
    "wind wind wind humidity humidity humidity";
  background-color: var(--overlay);
}

.city { grid-area: city; }

.date { grid-area: date; }

.temperature { grid-area: temperature; }

.icon { grid-area: icon; }

.wind { grid-area: wind; }

.humidity { grid-area: humidity; }
