@import '@assets/mixin.scss';

.textArea {
  border: 1px solid var(--grey400);
  border-radius: 4px;
  height: 136px;
  padding: 8px;
  font-size: 16px;
  line-height: 24px;
  resize: none;
  color: var(--fontColor);
  background-color: var(--bgInputListTile);
  @include fontFamily();
}

.textArea::placeholder {
  color: var(--Colors-Neutral-Neutral-400);
}

.textArea:focus:enabled {
  outline: none;
  border-color: var(--inputActive);
}

.container {
  display: flex;
  flex-direction: column;
  overflow: visible;
  position: relative;
}

.labelContainer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 4px;

  h5,
  span {
    margin-bottom: 0;
  }
}
