.error {
  height: 24px;
  svg {
    transform: translateY(1px);
  }
}
.errorIcon {
  color: var(--grey500);
}
.validIcon {
  color: var(--brightGreen700);
}
.icon {
  font-size: 20px;
  margin-right: 8px;
}
