.googleButton {
  width: 312px;
  height: 48px;
  font-family: 'Open Sans', 'SansSerif', serif !important;
  background-color: #f7f7f7 !important;
  div{
    background-color: #f7f7f7 !important;
  }
  span {
    flex: 1;
    font-weight: 900 !important;
    color: var(--fontColor) !important;
  }
}
