/*
 *  Copyright 2023 LiteFarm.org
 *  This file is part of LiteFarm.
 *
 *  LiteFarm is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  LiteFarm is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 *  GNU General Public License for more details, see <https://www.gnu.org/licenses/>.
 */

@import '../../../assets/mixin.scss';

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default Checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom Checkbox */
.checkmark {
  background-color: var(--bgInputListTile);
  outline: solid 1px var(--grey400);
  border-radius: 2px;
  min-width: 28px;
  .dayLetter {
    margin: 0px 8px 0px 8px;
    color: var(--grey400);
    font-weight: 700;
    @include fontFamily();
    font-size: 20px;
    cursor: pointer;
  }
}

/* When the Checkbox is checked, add a green background */
.container input:checked + .checkmark {
  background-color: var(--teal700);
  outline: none;

  .dayLetter {
    color: white;
  }
}

.disabled,
.disabled .dayLetter {
  cursor: auto;
}

.disabled .checkmark {
  background-color: var(--grey200);
}

.error {
  margin-top: 4px;
}

.container input[disabled]:checked + .checkmark {
  background-color: var(--teal500);
}
