/*
 *  Copyright 2024 LiteFarm.org
 *  This file is part of LiteFarm.
 *
 *  LiteFarm is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  LiteFarm is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 *  GNU General Public License for more details, see <https://www.gnu.org/licenses/>.
 */

.pillText,
.detailText {
  user-select: none;
  font-family: 'Open Sans';
  font-size: 14px;
  line-height: normal;
  letter-spacing: -0.308px;
}

.pill {
  cursor: default;
  user-select: none;
  display: inline-flex;
  padding: 2px 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;

  border-radius: 48px;
  background: var(--blue200, #e9f3ff);
  box-shadow: 0px 1px 0px 0px rgba(3, 45, 97, 0.1); // new colour #032d61
}

.pillText {
  font-weight: 700;
  color: #032d61; // new colour
}

.pill:hover {
  background: var(--blue700, #0669e1);
  box-shadow: 0px 1px 0px 0px #032d61; // new colour

  .pillText {
    color: var(--blue200, #e9f3ff);
  }
}

.hoverDetails {
  padding: 8px 16px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 8px;
  min-width: max-content;

  border-radius: 8px;
  background: var(--white, #fff);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}

.detailText {
  color: #000;
}
