/*
 *  Copyright 2024 LiteFarm.org
 *  This file is part of LiteFarm.
 *
 *  LiteFarm is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  LiteFarm is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 *  GNU General Public License for more details, see <https://www.gnu.org/licenses/>.
 */

.stepper {
  display: flex;
  flex-direction: column;
  gap: 2px;
  height: 24px;
  width: 24px;
}

.stepperBtn {
  all: unset;
  cursor: pointer;
  background-color: var(--Colors-Neutral-Neutral-50);
  color: var(--Colors-Neutral-Neutral-600);
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  &:first-child {
    border-top-right-radius: 3px;
  }
  &:last-child {
    border-bottom-right-radius: 3px;
  }

  &:disabled {
    background-color: #f9fafc;
    color: #dadee5;
    cursor: not-allowed;
  }
}
