.formContainer {
  label {
    font-family: 'Avenir', sans-serif;
    font-weight: normal;
    min-width: 120px;
    width: 40%;
    margin-bottom: 0;
  }
  input {
    flex-grow: 1;
    height: 30px;
    border: 1px solid #c3c0c0;
    border-radius: 3px;
    min-width: 0;
    padding-left: 8px;
  }
  input::-webkit-inner-spin-button,
  input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .center {
    margin-top: 30px;
    text-align: center;
  }
}
.labelContainer {
  display: flex;
  margin-bottom: 24px;
  height: 30px;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.headerTitle {
  margin-top: 24px;
 margin-bottom: 24px;
  }

@media only screen and (max-width: 421px) {
  .formContainer {
 margin-bottom: 24px;
  height: 30px;    label {
      min-width: 88px;
      font-family: 'Avenir', sans-serif;
      font-weight: normal;
    }
    input {
      height: 30px;
      flex-grow: 1;
    }
  }
}
