.harvestDetails {
  display: flex;
  //justify-content: space-between;
}

@media only screen and (max-width: 480px) {
  .harvestInputs {
    float: right;
    width: 100%;
  }
}

@media only screen and (min-width: 480px) {
  .harvestInputs {
    float: right;
  }
}

