/*
 *  Copyright 2024 LiteFarm.org
 *  This file is part of LiteFarm.
 *
 *  LiteFarm is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  LiteFarm is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 *  GNU General Public License for more details, see <https://www.gnu.org/licenses/>.
 */

.container {
  padding: 24px 24px 0 24px;
  width: 100%;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.svgContainer {
  padding: 24px 0px 0px 0px;
  display: flex;
  height: calc(100vh - 172px);
  align-items: center;
}

@media only screen and (max-width: 567.98px) {
  .svgContainer {
    padding: 0 0 0 0;
    padding-top: 64px;
    height: calc(100vh - 196px);
  }
}

@media only screen and (min-width: 567.98px) {
  .svgContainer {
    padding: 24px 10% 0px 10%;
    justify-content: center;
  }
}
