@import '../../../assets/mixin.scss';

.container {
  display: flex;
  height: var(--global-map-header-height);
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 16px 24px;
  overflow: hidden;
  word-break: break-word;
}

.headerText {
  @include fontFamily();
  color: var(--grey900);
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  margin-right: 12px;
}

.farmName {
  font-weight: 600;
}

.farmMap {
  font-weight: 400;
}
