/*
 *  Copyright 2025 LiteFarm.org
 *  This file is part of LiteFarm.
 *
 *  LiteFarm is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  LiteFarm is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 *  GNU General Public License for more details, see <https://www.gnu.org/licenses/>.
 */

// styles taken from the <Input /> component
// !important was necessary as the MUI-applied classes have quite high specificity
.input {
  height: 48px;
  width: inherit;
}

.inputDisabled {
  background-color: var(--inputDisabled);

  span {
    color: var(--grey600) !important;
  }

  > fieldset {
    border-color: var(--inputDefault) !important;
  }
}

.inputFocusBorder {
  > fieldset {
    border-color: var(--inputActive) !important;
    border-width: 1px !important;
  }
}

.icon {
  path {
    stroke: var(--fontColor);
  }
}

.icon.disabled {
  path {
    stroke: var(--grey600);
  }
  cursor: default;
}
