.title {
  font-style: normal;
  font-weight: normal;
  color: var(--grey900);
  font-size: 20px;
  line-height: 24px;
  font-family: 'Open Sans', 'SansSerif', serif;
}

.titlewrapper {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  position: relative;
}

.subtitle {
  font-style: normal;
  font-weight: 600;
  color: var(--grey900);
  font-size: 16px;
  line-height: 20px;
  font-family: 'Open Sans', 'SansSerif', serif;
}

.abandonwrapper {
  display: flex;
  flex-direction: row;
}

.pencil {
  width: 15.06px;
  height: 15.02px;
}

.notes {
  width: 312px;
  height: 48px;
  left: 0px;
  top: 20px;
  background: #fafafd;
  border: 1px solid #d4dae3;
  box-sizing: border-box;
  border-radius: 4px;
}

.notescontent {
  font-style: normal;
  font-weight: 400;
  color: var(--grey900);
  font-size: 16px;
  line-height: 20px;
  font-family: 'Open Sans', 'SansSerif', serif;
}

.bottomText {
  color: var(--teal700);
}

.rating {
  display: table-row;
}

.deleteText {
  padding-bottom: 16px;

  span {
    text-decoration: none;
  }
}

.deleteSection {
  margin-top: auto;
  padding-top: 24px;
}

.menuIcon {
  width: 48px;
  font-size: 20px;
  color: var(--grey600);
  cursor: pointer;
}

.copyRepeatMenu {
  position: absolute;
  right: 0;
  top: 100%;
  display: flex;
  width: 260px;

  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 4px;
  background: var(--white, #fff);
  box-shadow: 0px 4px 12px 0px rgba(102, 115, 138, 0.4);
}

.menuItem {
  border-radius: 4px;
  padding-inline: 16px;
  padding-block: 8px;
  width: 100%;
  cursor: pointer;

  &:hover {
    background-color: var(--grey100);
  }

  &:active {
    background-color: var(--grey200);
  }

  &:first-child {
    padding-top: 12px;
  }

  &:last-child {
    padding-bottom: 12px;
  }
}
