/*
 *  Copyright 2024 LiteFarm.org
 *  This file is part of LiteFarm.
 *
 *  LiteFarm is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  LiteFarm is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 *  GNU General Public License for more details, see <https://www.gnu.org/licenses/>.
 */

.container {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  background: var(--White);

  > div {
    border-radius: 8px;
    border: 1px solid var(--Colors-Neutral-Neutral-50, #f0f1f3);
    background: var(--White, #fff);
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.1);
  }
}
