.userListContainer {
  display: flex;
  flex-direction: column;
  margin: 5% 0;
}

.searchFieldContainer {
  border: 1px solid #cecccc;
  border-radius: 8px;
  height: 40px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3%;
  padding: 1%;
}

.searchFieldContainer:focus-within {
  border: 2px solid #000000;
}

.searchField {
  border: 0;
  outline: none;
  padding: 0;
  margin-left: 0.5%;
  width: 95%;
}

.searchLabel {
  margin-bottom: 3%;
}

.addButton {
  max-width: 312px;
  margin: 16px auto 24px auto;
  background: #fce38d;
  box-shadow: 0px 2px 8px rgba(102, 115, 138, 0.3);
  border-radius: 4px;
  border: none;
  color: #282b36;
  padding: 12px 107px;
}

.close {
  width: 30%;
  img {
    width: 100%;
    max-width: 40px;
  }
  justify-self: flex-start;
}

.modal,
.addUserContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
}

.addUserContainer {
}

.labelContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 3%;
  align-items: center;

  input {
    width: 80%;
    padding: 0 3%;
    border: 1px solid #cecccc;
    border-radius: 8px;
    height: 40px;
  }
}

.selectContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-start;
  margin-bottom: 3%;
  align-items: center;
  label {
    min-width: 16%;
  }
  select {
    background: #efefef;
    border: none;
    padding: 2px;
    border-radius: 5px;
    height: 40px;
  }
  input {
    width: 30%;
    margin-right: 5%;
    padding: 0 3%;
    border: 1px solid #cecccc;
    border-radius: 8px;
    height: 40px;
  }
}

.emailInputReminder {
  margin: -0.5em 0 1em 0;
  color: #9faabe;
}

.formBodyContainer {
  width: 100%;
}

.inputContainer,
.errorInputContainer {
  display: flex;
  flex-direction: column;
  margin: auto;
  input[type='text'],
  select {
    background: #ffffff;
    border: 1px solid #d4dae3;
    box-sizing: border-box;
    border-radius: 4px;
    margin: 0.25em 0 16px 0;
    padding: 0.75em 0.5em;
    height: 48px;
    font-size: 16px;
    color: #282b36;
  }

  input[type='text']:disabled,
  select:disabled {
    background: #f3f6fb;
    border: 1px solid #d4dae3;
    box-sizing: border-box;
    border-radius: 4px;
    color: #282b36;
  }

  input[type='text']:focus,
  select:focus {
    border: 1px solid #89d1c7;
    outline: none;
  }

  label {
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #66738a;
  }

  input[type='radio'],
  label {
    margin: 0;
  }

  input[type='radio'] {
    width: 20px;
    margin-right: 2px;
  }
}

.errorInputContainer {
  input[type='text'] {
    border: 1px solid #f58282;
  }
}

.addUserTitleContainer {
  width: 100%;
  max-width: 312px;
}

.userTitle {
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 20px;
  line-height: 32px;
}

.wageContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}

.wageInputUnit {
  margin: 0.5em;
  color: #9faabe;
}

.payTypeContainer {
  display: flex;
  flex-direction: column;
}

.radioContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.popupTitle {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  justify-items: center;
  align-items: center;
  width: 100%;
  margin-bottom: 10%;
}

.formContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.removeButton {
  border: none;
  border-radius: 5px;
  background: #dc3545;
  color: white;
  width: 250px;
  margin: 15px auto 0 auto;
}

.error {
  color: red;
}

.errorContainer {
  color: #ec4c47;
  display: flex;
  align-items: center;
  margin: -0.75em auto 0.5em auto;
  max-width: 312px;
}

.errorText {
  margin-left: 2px;
}

.formActionsContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 32px;
  margin-top: 45%;
}

.inviteButton,
.cancelButton {
  padding: 12px 50px;
  border-radius: 4px;
  width: 48%;
  font-size: 18px;
  display: flex;
  justify-content: center;
  height: 48px;
}

.inviteButton {
  background: #fce38d;
  box-shadow: 0px 2px 8px rgba(102, 115, 138, 0.3);
  border: none;
  color: #282b36;
}

.inviteButton:disabled {
  background: #d4dae3;
  color: #f3f6fb;
  box-shadow: none;
}

.cancelButton {
  background: #ffffff;
  border: 1px solid #9faabe;
  color: #66738a;
}

@media (min-width: 768px) {
  .formActionsContainer {
    margin-top: 40px;
    position: unset;
  }
  .inviteButton {
    margin-right: 0;
  }
  .userTitle {
    margin-top: 24px;
    margin-bottom: 24px;
  }
  .labelContainer {
    margin-bottom: 24px;
  }
}

@media (min-width: 1024px) {
  .formActionsContainer {
    position: unset;
    margin-top: 0;
  }
  .inviteButton {
    margin-right: 0;
  }
  .userTitle {
    margin-top: 24px;
    margin-bottom: 24px;
  }
  .labelContainer {
    margin-bottom: 24px;
  }
}
