.userListContainer {
  display: flex;
  flex-direction: column;
  margin: 5% 0;
}

.searchFieldContainer {
  border: 1px solid #CECCCC;
  border-radius: 8px;
  height: 40px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3%;
  padding: 1%;
}

.searchFieldContainer:focus-within {
  border: 2px solid #000000;
}

.searchField {
  border: 0;
  outline: none;
  padding: 0;
  margin-left: 0.5%;
  width: 95%;
}

.searchLabel {
  margin-bottom: 3%;
}

.addButton {
  max-width: 312px;
  margin: 16px auto 24px auto;
  background: #FCE38D;
  box-shadow: 0px 2px 8px rgba(102, 115, 138, 0.3);
  border-radius: 4px;
  border: none;
  color: #282B36;
  padding: 12px 107px;
}

.close {
  width: 30%;
  img {
    width: 100%;
    max-width: 40px;
  }
  justify-self: flex-start;
}

.modal, .addUserContainer {
  display: flex;
  flex-direction: column;
}

.addUserContainer {
}

.labelContainer{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 3%;
  align-items: center;

  input{
    width: 80%;
    padding: 0 3%;
    border: 1px solid #CECCCC;
    border-radius: 8px;
    height: 40px;
  }
}

.selectContainer{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-start;
  margin-bottom: 3%;
  align-items: center;
  label{
    min-width: 16%;
  }
  select {
    background: #EFEFEF;
    border: none;
    padding: 2px;
    border-radius: 5px;
    height: 40px;
  }
  input{
    width: 30%;
    margin-right: 5%;
    padding: 0 3%;
    border: 1px solid #CECCCC;
    border-radius: 8px;
    height: 40px;
  }

}

.emailInputReminder {
  margin: -0.5em 0 1em 0;
  color: #9FAABE;
}

.formBodyContainer {
  width: 100%;
}

.inputContainer, .errorInputContainer {
  display: flex;
  flex-direction: column;
  margin: auto;
  input[type='text'], select {
    background: #FFFFFF;
    border: 1px solid #D4DAE3;
    box-sizing: border-box;
    border-radius: 4px;
    margin: 0.25em 0 16px 0;
    padding: 0.75em 0.5em;
    height: 48px;
    font-size: 16px;
    color: #282B36;
  }

  input[type='text']:disabled, select:disabled {
    background: #F3F6FB;
    border: 1px solid #D4DAE3;
    box-sizing: border-box;
    border-radius: 4px;
    color: #282B36;
  }

  input[type='text']:focus, select:focus {
    border: 1px solid #89D1C7;
    outline: none;
  }

  label {
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #66738A;
  }

  input[type='radio'], label {
    margin: 0;
  }

  input[type='radio'] {
    width: 20px;
    margin-right: 2px;
  }
}

.errorInputContainer {
  input[type='text'] {
    border: 1px solid #F58282;
  }
}

.addUserTitleContainer {
  width: 100%;
  max-width: 312px;
}

.userTitle {
  margin-top: 16px;
  margin-bottom: 16px;
}

.wageContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}

.wageInputUnit {
  margin: 0.5em;
  color: #9FAABE;
}

.payTypeContainer {
  display: flex;
  flex-direction: column;
}

.radioContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.popupTitle{
  display: grid;
  grid-template-columns: 25% 50% 25%;
  justify-items: center;
  align-items: center;
  width: 100%;
  margin-bottom: 10%;
}

.formContainer{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.removeButton{
  border: none;
  border-radius: 5px;
  background: #dc3545;
  color: white;
  width: 250px;
  margin: 15px auto 0 auto;
}

.error {
  color: red;
}

.errorContainer {
  color: #EC4C47;
  display: flex;
  align-items: center;
  margin: -0.75em auto 0.5em auto;
  max-width: 312px;
}

.errorText {
  margin-left: 2px;
}

.formActionsContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 100%;
  position: absolute;
  bottom: 32px;
}

.inviteButton, .cancelButton {
  padding: 12px 50px;
  border-radius: 4px;
  width: 45%;
  max-width: 152px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  height: 48px;
}

.inviteButton {
  background: #FCE38D;
  box-shadow: 0px 2px 8px rgba(102, 115, 138, 0.3);
  border: none;
  color: #282B36;
  margin-right: 48px;
}

.inviteButton:disabled {
  background: #D4DAE3;
  color: #F3F6FB;
  box-shadow: none;
}

.cancelButton {
  background: #FFFFFF;
  border: 1px solid #9FAABE;
  color: #66738A;
}
