.fieldContainer{
  width: 100%;
  max-width: 1024px;
  margin: 0;
  height: 100vh;
  padding: 50px 0 0 0;
  display:flex;
  flex-direction: column;
  z-index: 0;
}

.div[title="Stop drawing"]{
  color: red
}
// .gmnoprint[title='Add a marker']
// .gmnoprint[title='Draw a shape']

.drawingToolBar{
    position: fixed;
    top: 20%;
    align-self: center;
    z-index: 10;
}

.centeredForm{
  align-self: center;
  width: 90%;
}

.buttonContainer{
  width: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2%;
  button{
    margin: 0 auto;
    display:block;
  }
}

.warningClass:focus { border:  1px solid red; }
.successClass:focus { border:  1px solid green; }


.infoButton {
  position: fixed;
  right: 0;
  z-index: 10;
  width: 7%;
  button{
    height:48px;
    width:100%;
    padding: 0;
    left: 0;
    border: none;
    background: none;
  }
}
.backButton{
  position: fixed;
  left: 0;
  z-index: 10;
  width: 7%;
  button{
    height:48px;
    width:100%;
    padding: 0;
    left: 0;
    border: none;
    background: none;
  }
  span{
    font-size: 24px;
    transform: scaleX(-1);
  }
}