/*
 *  Copyright 2019, 2020, 2021, 2022 LiteFarm.org
 *  This file is part of LiteFarm.
 *
 *  LiteFarm is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  LiteFarm is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 *  GNU General Public License for more details, see <https://www.gnu.org/licenses/>.
 */
@import '../../../../assets/mixin.scss';

.container {
  background: var(--grey100);
  border: 1px solid var(--grey400);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 8px;
  display: flex;
  margin-bottom: 24px;
}

.closedContainer {
  height: 44px;
  overflow-y: hidden;
}

.pillContainer {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.test {
  margin-left: auto;
  border: 0;
  background-color: transparent;
  display: flex;
  align-items: center;

  color: var(--teal700);
  font-size: 16px;
  font-weight: 700;
}

/*----------------------------------------
  V2
----------------------------------------*/
.formsWrapper {
  padding: 16px 8px;
}

.formsTitle {
  color: var(--Colors-Neutral-Neutral-600);
  font-weight: 600;
  line-height: 18px;
  padding-bottom: 24px;
}

.form {
  border: solid 1px var(--Colors-Neutral-Neutral-200);
  border-radius: 8px;
  padding: 16px;

  display: flex;
  flex-direction: column;
  gap: 8px;

  &:focus-within {
    border-color: var(--inputActive);
  }

  &:not(:last-of-type) {
    margin-bottom: 24px;
  }
}

.formTitle {
  color: #000;
  font-weight: 600;
}

.formHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// Arrays
.latLong,
.installation {
  display: flex;
  gap: 20px;

  > div {
    flex: 1;
  }
}

.latLongPicker {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-top: -4px;
  margin-bottom: 12px;
}

.appendFormButton {
  @include fontFamily();

  display: flex;
  align-items: center;
  gap: 4px;

  height: 32px;
  color: var(--Colors-Neutral-Neutral-900);
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.4px;

  svg {
    width: 16px;
    height: 16px;
  }
}

// Sensors
.sensorFormWrapper {
  margin: 16px;
  border-radius: 8px;
  border: 1px solid var(--Colors-Neutral-Neutral-50);
}

.sensorForm {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.arraySensors {
  margin-bottom: 32px;
}

.arraySensorsArrayName {
  color: #000;
  font-weight: 600;
  padding-bottom: 16px;
}

.expandableContainer {
  border-radius: 4px;
  border: 1px solid var(--Colors-Neutral-Neutral-50);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.07);
  margin-bottom: 4px;
}

.expandedContainer {
  box-shadow: none;
  border: 1px solid var(--Colors-Neutral-Neutral-100);
}

.expandableHeader {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-inline: 16px;
}

.mainContent {
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.errorCount {
  display: flex;
  gap: 4px;
  align-items: center;
  color: var(--Brand-Accents-colors-and-overlays-Accent-red);
  font-size: 16px;
  font-weight: 600;
}

.check {
  color: var(--Colors-Secondary-Secondary-green-600);
}

.removeLink {
  display: flex;
  align-items: center;
  align-self: center;
  gap: 4px;
  font-size: 14px;
  color: var(--Colors-Neutral-Neutral-900);
}
