.container {
  position: relative;
  width: fit-content;
  cursor: pointer;
}

.iconContainer {
  width: 24px;
  height: 24px;
  position: absolute;
  border-radius: 4px 0px 4px 4px;
  right: 0;
  top: 0;
}
