$rw-box-font: Helvetica, sans-serif;
$rw-box-width: 100%;
$rw-box-radius: 7px;
$rw-box-height: 100%;
$rw-box-bg: linear-gradient(to bottom right, #0181c2, #04a7f9, #4bc4f7);
$rw-box-right-bg: rgba(0, 0, 0, 0.1);
$rw-text-color: #fff;
$rw-text-secondary-color: #b5def4;
$rw-icon-size: 35px;
