$rw-box-font:    Helvetica, sans-serif;
$rw-box-width:100%;
$rw-box-radius: 7px;
$rw-box-height: 100%;
$rw-box-bg: linear-gradient(to bottom right, #0181C2, #04A7F9, #4BC4F7);
$rw-box-right-bg: rgba(0,0,0,0.1);
$rw-text-color: #fff;
$rw-text-secondary-color:#B5DEF4;
$rw-icon-size: 35px;
