.cropLabel {
  margin: 0 auto;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 20px;
  line-height: 18px;
  color: var(--grey700);
  overflow-wrap: break-word;
  hyphens: auto;
  width: 100%;
}

.label {
  padding-right: 10px;
  font-size: 16px;
  line-height: 20px;
  display: inline-block;
}

.circleImg {
  margin: 0 auto;
  margin-bottom: 20px;
  height: 120px;
  width: 120px;
  border-radius: 70%;
}