/*
 *  Copyright 2025 LiteFarm.org
 *  This file is part of LiteFarm.
 *
 *  LiteFarm is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  LiteFarm is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 *  GNU General Public License for more details, see <https://www.gnu.org/licenses/>.
 */

.wrapper {
  padding: 34px 8px 0 8px;
}

.lead {
  color: #000;
  margin-bottom: 16px;
}

.partner {
  display: flex;
  gap: 8px;
  padding-left: 8px;

  .logo {
    display: flex;
    width: 64px;
    height: 64px;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    border: 1px solid var(--Colors-Primary-Primary-teal-200);
    box-shadow: 0px 0.741px 0px 0px var(--Colors-Primary-Primary-teal-400);
    background-color: var(--White);
  }

  .info {
    .name {
      color: var(--Colors-Primary-Primary-teal-700);
      font-size: 16px;
      font-weight: 700;
      line-height: 18px;
      margin-bottom: 4px;
    }

    .url {
      color: #000;
      font-family: 'Open Sans';
      font-size: 16px;
    }
  }
}

// Sensor connection setup
.sensorSetup {
  margin-top: 32px;
  color: var(--Colors-Neutral-Neutral-400);
  font-size: 16px;
}

.idInputWrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 4px;
  padding: 16px;
  border-radius: 4px;
  border: 1px solid var(--Colors-Backgrounds-Disabled-grey);
  background: var(--Colors-Backgrounds-Background-color);

  h5 {
    color: var(--Colors-Neutral-Neutral-500);
    font-size: 16px;
  }
}

// Esci divices page
.diviceInfo {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

// Sensors table
.tableContainerClass {
  border-radius: 4px;
  border: 1px solid var(--Colors-Neutral-Neutral-50);
}

.headerClass:global(.MuiTableCell-head) {
  color: var(--Colors-Neutral-Neutral-300);
  font-size: 16px;
  font-weight: 400;
  padding: 0 4px;
  border: none;
  background: var(--Colors-Backgrounds-Background-color);

  :global(.MuiTableSortLabel-root) {
    padding: 0;
  }
}

.headerClass:global(.MuiTableCell-head),
.tbodyClass:global(.MuiTableBody-root) td:global(.MuiTableCell-root) {
  &:nth-child(1) {
    padding-left: 16px;
  }

  &:nth-child(3) {
    padding-right: 16px;
  }
}

.tbodyClass:global(.MuiTableBody-root) {
  &:before {
    line-height: 0px;
  }

  td:global(.MuiTableCell-root) {
    font-size: 16px;
    border: none;

    &:nth-child(1) {
      font-weight: 600;
      color: var(--Colors-Neutral-Neutral-900);
    }

    &:nth-child(2),
    &:nth-child(3) {
      color: var(--Colors-Neutral-Neutral-500);
    }
  }
}

.sensorIdCell {
  display: flex;
  align-items: center;

  svg {
    // offset SVG to remove excess white space around it
    margin-top: 8px;
    margin-left: -6px;
  }
}

// field list
.fieldListLead {
  color: var(--Colors-Neutral-Neutral-500, #66738a);
  margin-bottom: 8px;
}

.fieldList {
  list-style-position: outside;
  padding: 4px 8px 4px 36px;
  border-radius: 4px;
  background: var(--Colors-Backgrounds-Background-color, #fafcfb);

  li {
    color: var(--Colors-Secondary-Secondary-green-900);
    font-weight: 700;
    line-height: 24px;
  }
}

.seeOnMapButton {
  width: fit-content;
  display: flex;
  height: 32px;
  margin: 0 auto;
  padding: 8px 4px;
  justify-content: center;
  align-items: center;
  gap: 4px;

  font-size: 14px;
  font-weight: 700;
  color: var(--Colors-Secondary-Secondary-green-900, #325442);
}

.mapPinIcon {
  font-size: 16px;
}
