.mapContainer {
  position: relative;
  margin-bottom: 16px;
  flex-grow: 1;
  display: flex;
}

.planting_label {
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--grey900);
}

.shown_label {
  margin-bottom: 32px;
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  color: var(--grey600);
}
