.card {
  display: flex;
  flex-direction: row;
  min-height: 98px;
  min-width: 312px;
  padding: 16px;
}

.cardContainer {
  position: relative;
}

.taskIcon {
  height: 32px;
  width: 32px;
  margin-right: 16px;
}

.info {
  display: flex;
  flex-direction: column;
}

.mainTypographySansColor {
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  font-family: 'Open Sans', 'SansSerif', serif;
  margin: 0;
  font-weight: 600;
  margin-bottom: 4px;
}

.subMain {
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;
  margin-bottom: 8px;
}

.dateUserContainer {
  display: flex;
  flex-direction: row;
  gap: 8px;
  color: var(--fontColor)
}

.iconTextContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3px;
  border-bottom: 1px solid var(--teal700);
}

.iconTextContainerNoUnderline {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3px;
}

.statusLabel {
  display: flex;
  right: 0;
  position: absolute;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.firstInitial {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 14px;
  height: 14px;
  margin: 2px;
  background-color: var(--blue700);
  color: white;
  font-weight: 700;
  font-size: 10px;
  line-height: 16px;
  border-radius: 7px;
}

.unassigned {
  color: var(--red700);
  border-bottom: 1px solid var(--red700);
}

.inactive {
  color: var(--grey500);
}

.firstInitial.inactive {
  background-color: var(--grey500);
  color: white;
}
