/*
 *  Copyright 2019, 2020, 2021, 2022 LiteFarm.org
 *  This file is part of LiteFarm.
 *
 *  LiteFarm is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  LiteFarm is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 *  GNU General Public License for more details, see <https://www.gnu.org/licenses/>.
 */

.container {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  width: 90vw;
  background: #fafafd;
  border-radius: 7.05466px;
  position: relative;
  padding: 24px;
}

.title {
  color: var(--teal700);
  line-height: 24px;
  margin-bottom: 4px;
}

.body {
  color: var(grey600);
  margin-bottom: 20px;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.modalHeaderWrapper {
  display: flex;
  margin-bottom: 16px;
  align-items: center;
}

.errorMessage{
  text-decoration: underline;
  font-size: 12px;
  color: var(--red700); 
  cursor: pointer;
}