.container {
  display: flex;
  padding: 12px;
  position: relative;
  flex-direction: column;
  row-gap: 16px;
}

.secondRowContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.cropCountContainer {
  display: flex;
  gap: 4px;
  align-items: center;
}