/*
 *  Copyright 2024 LiteFarm.org
 *  This file is part of LiteFarm.
 *
 *  LiteFarm is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  LiteFarm is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 *  GNU General Public License for more details, see <https://www.gnu.org/licenses/>.
 */

.NoSearchResults___marginTop24 {
  margin-top: 24px;
}

.NoSearchResults___marginTop40 {
  margin-top: 40px;
}

.SearchBar___widthFixed {
  width: 240px;
}

.SearchBar___widthFull {
  width: 100%;
}

.SearchAndFilter_container___desktop {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 16px; 
}

.SearchAndFilter_container {
  display: inline-grid;
  gap: 4px;
  padding: 8px 16px 8px 16px;
  background-color: var(--Colors-Primary-Primary-teal-50);
}

.SearchResults___marginLeft8 {
  margin-left: 8px;
}

.SearchResults___textAlignCenter {
  text-align: center;
}