/*
 *  Copyright 2026 LiteFarm.org
 *  This file is part of LiteFarm.
 *
 *  LiteFarm is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  LiteFarm is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 *  GNU General Public License for more details, see <https://www.gnu.org/licenses/>.
 */

.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: 100%;
  overflow: hidden;
  padding-top: 8px;

  &.emptyContainer {
    .header {
      display: flex;
      flex-direction: column;
      flex: 1;
      align-items: center;
      justify-content: center;
    }
  }
}

.addButton {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 4px;
  margin: 0 auto;

  svg {
    width: 16px;
  }
}

.emptyState {
  margin-bottom: 8px;
  font-size: 16px;
  color: var(--Colors-Neutral-Neutral-400);
}

.list {
  list-style: none;
  margin: 0;
  padding: 4px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow-y: auto;
  flex: 1;
}

.expirationWarning {
  padding-top: 32px;
  color: var(--Colors-Accent-Accent-yellow-900);
  font-size: 12px;
}
