@import '../../../assets/mixin.scss';

.container {
  height: 65px;
  width: 57px;
}

.extensionName {
  color: white;
  transform: translate(2px, -38px);
  width: 37px;
  @include fontFamily();
  font-weight: 600;
  height: 20px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

