@import '../../../assets/colors';
@import '../../../assets/mixin';
.container {
  display: inline-block;
  position: relative;
  padding-left: 24px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-bottom: 16px;
  width: fit-content;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: white;
  border-radius: 50%;
  border: solid 2px var(--grey600);
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  border: solid 2px var(--teal700);
}

.container input:checked ~ .label {
  color: var(--grey900);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  top: 2px;
  left: 2px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--teal700);
}

.disabled {
  cursor: auto;
}

.container input:disabled ~ .checkmark {
  background-color: var(--grey200);
  border: solid 2px var(--grey400);
}

.container input:disabled ~ .label {
  color: var(--grey600);
}

.container input[disabled]:checked ~ .checkmark {
  background-color: var(--teal500);
  border: solid 2px var(--teal700);
}

.label {
  transform: translateY(-5px);
  font-size: 16px;
  line-height: 24px;
  color: var(--grey900);
  font-style: normal;
  font-weight: normal;
  font-family: 'Open Sans', 'SansSerif', serif;
  margin: 0;
}
