@import '../../../assets/mixin';

.container {
  display: flex;
  column-gap: 4px;
  position: relative;
  padding-left: 24px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-bottom: 6px;
  width: fit-content;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

/* Hide the browser's default radio button */
.defaultRadio {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: calc(50% - 8px);
  left: 0;
  height: 16px;
  width: 16px;
}

.checkmark svg {
  overflow: visible; /* To fix the SVG bounding box slightly cutting off the stroke in Safari at some zoom levels */
}

/* The outer circle */
.checkmark svg circle:first-child {
  stroke: var(--grey600);
  stroke-width: 2;
  fill: var(--bgInputListTile);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark svg circle:last-child {
  fill: var(--teal700);
  visibility: hidden;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark svg circle:last-child {
  visibility: visible;
}

.container input:checked ~ .label {
  color: var(--grey900);
}

/* When the radio button is checked, make border blue */
.container input:checked ~ .checkmark svg circle:first-child {
  stroke: var(--teal700);
}

.disabled {
  cursor: auto;
}

.container input:disabled ~ .checkmark svg circle:first-child {
  fill: var(--grey200);
  stroke: var(--grey400);
}

.container input:disabled ~ .label {
  color: var(--grey600);
}

.container input[disabled]:checked ~ .checkmark svg circle:first-child {
  fill: var(--grey200);
  stroke: var(--grey400);
}

.container input[disabled]:checked ~ .checkmark svg circle:last-child {
  fill: var(--grey400);
}

.label {
  font-size: 16px;
  line-height: 24px;
  color: var(--grey900);
  font-style: normal;
  font-weight: normal;
  font-family: 'Open Sans', 'SansSerif', serif;
  margin: 0;
}
