/*
 *  Copyright 2023 LiteFarm.org
 *  This file is part of LiteFarm.
 *
 *  LiteFarm is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  LiteFarm is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 *  GNU General Public License for more details, see <https://www.gnu.org/licenses/>.
 */


// ExpandedContent
.expandedContent {
  margin: 0 4px 8px 4px;
}

button.toDetail {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  padding: 10px 12px;
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
  border-radius: 4px;
  background-color: #EDF5F3;
  color: var(--teal900);

  svg {
    stroke-width: 1px;
    margin-left: 8px;
  }
}
