/*
 *  Copyright 2024 LiteFarm.org
 *  This file is part of LiteFarm.
 *
 *  LiteFarm is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  LiteFarm is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 *  GNU General Public License for more details, see <https://www.gnu.org/licenses/>.
 */

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.formHeader {
  display: flex;
  justify-content: space-between;
}

.removeBtn {
  display: flex;
  align-items: center;
  gap: 4px;
  border-radius: 16px;
  padding: 2px 9px;
  border: 1px solid var(--Colors-Primary-Primary-teal-50);
  background-color: var(--Colors-Primary-Primary-teal-50);
  color: var(--Colors-Primary-Primary-teal-700);
  font-weight: 600;
}

.countAndSexDetailsWrapper {
  display: flex;
  align-items: start;
  gap: 16px;
}

.countInput {
  flex-basis: 104px;
  & + div {
    flex: 1;
  }
}
