/*
 *  Copyright 2024 LiteFarm.org
 *  This file is part of LiteFarm.
 *
 *  LiteFarm is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  LiteFarm is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 *  GNU General Public License for more details, see <https://www.gnu.org/licenses/>.
 */

@import '../../assets/mixin';

.wrapper {
  position: relative;
  transform: translateZ(0); // Create context for position: fixed
  height: 400px;
  outline: 1px solid black;
  padding: 24px;
  overflow-y: clip;
}

.floatingContent {
  background-color: var(--Colors-Secondary-Secondary-green-700);
  color: white;
  display: grid;
  place-content: center;

  width: 264px;
  height: 80px;
  border-radius: 16px;

  /* If a fixed width is defined on the component, make sure it is removed or set to 100%/100vw on its mobile state. Alternatively define a width only on the desktop state (as done in ActionMenu) */
  @include xs-breakpoint {
    width: 100%;
  }
}

.customModal {
  background-color: var(--Colors-Secondary-Secondary-green-200);
}

.customDrawerBackdrop {
  background-color: hsla(45, 100%, 80%, 0.4);
}

.customDrawerHeader {
  outline: 2px var(--Colors-Accent---singles-Red-full) dashed;
  margin: 4px;
}

.customDrawerContent {
  outline: 2px var(--Colors-Accent---singles-Blue-dark) dashed;
  margin: 4px;
}

.customDrawerContainer {
  background-color: var(--Colors-Accent---singles-Blue-light);
}
