.mapContainer {
  position: relative;
  height: 160px;
  width: 100%;
  margin-bottom: 40px;
  flex-grow: 1;
  display: flex;
}

.title {
  display: flex;
  justify-content: space-between;
}

.pencil {
  font-size: 24px;
  transform: translateY(30px);
  margin-left: 20px;
  color: var(--grey600);
  cursor: pointer;
}

.editableContainer {
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
  div {
    flex-grow: 1;
  }
}

.rating {
  display: table-row;
}

.deleteText {
  padding-bottom: 16px;
}

.deleteText span {
  text-decoration: none;
}