.mapContainer {
  position: relative;
  height: 160px;
  width: 100%;
  margin-bottom: 40px;
  flex-grow: 1;
  display: flex;
}

.title {
  display: flex;
  justify-content: space-between;
}

.pencil {
  font-size: 24px;
  transform: translateY(30px);
  margin-left: 20px;
  color: var(--grey600);
  cursor: pointer;
}

.assigneeContainer {
  display: flex;
  flex-direction: row;
  flex-grow: 1;

  div {
    flex-grow: 1;
  }
}

.rating {
  display: table-row;
}
