/*
 *  Copyright 2024 LiteFarm.org
 *  This file is part of LiteFarm.
 *
 *  LiteFarm is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  LiteFarm is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 *  GNU General Public License for more details, see <https://www.gnu.org/licenses/>.
 */

@import '../../../assets/mixin';

.tile {
  display: flex;
  height: 40px;
  min-width: max-content;
  width: 100%;
  padding: 0px 8px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  gap: 8px;

  border-radius: 4px;
  background: #2d5550;
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.25);
}

.tileText {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: -3px;
}

.tileLabel {
  color: var(--Colors-Accent-Accent-yellow-50, #fff8e6);
  font-family: 'Open Sans';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.264px;

  white-space: nowrap; /* Keeps the text on a single line */
}
.tileCountLabel {
  color: var(--Colors-Accent-Accent-yellow-400, #ffc633);
  font-family: 'Open Sans';
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.308px;
}

.icon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.tile:hover {
  border-radius: 4px;
  background: var(--Colors-Secondary-Secondary-green-700, #558f70);
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.25);
}
