.headerContentContainer  {
  padding-bottom: 8px;
}

.headerTextContainer {
  text-decoration: 'underline';
  display: 'flex';
  flex-direction: 'row';
}

.underlined {
  color: var(--brown700);
}

.verticalDivider {
  border-left: '1px solid';
  margin: 0 8px;
  color: var(--grey400);
}

.label {
  height: 24px;
}

.labelDivider {
  display: 'inline-block';
  border-top: '1px solid';
  width: 'calc(100% - 80px)';
  transform: 'translate(11px, -3px)';
  color: '#C4C4C4';
}

.plusIcon {
  color: var(--teal700);
  font-size: 42px;
  line-height: 16px;
}
