.input {
  width: 100%;
  border: 1px solid var(--grey400);
  box-sizing: border-box;
  border-radius: 4px;
  height: 48px;
  padding-left: 8px;
  font-size: 16px;
  line-height: 24px;
  color: var(--fontColor);
  background-color: transparent;
  // set lastpass fill password icon
  background-position: calc(100% - 36px) calc(50%) !important;
  font-family: 'Open Sans', 'SansSerif', serif;
}

.input::-webkit-inner-spin-button,
.input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hides native spinbutton in Firefox */
input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.input ::placeholder {
  color: var(--grey500);
}

input:focus::placeholder {
  color: transparent;
}

.input:disabled {
  background-color: var(--inputDisabled) !important;
  color: var(--grey600);
  border-color: var(--inputDefault);
}

.input[type='date'] {
  min-width: 150px;
  background-color: transparent;
  width: 100%;
}

.fullLength {
  width: 100%;
  flex-grow: 1;
}

.container {
  display: flex;
  flex-direction: column;
  overflow: visible;
  position: relative;
  min-width: 0;
}

.inputError {
  border-color: var(--error);
}

.input:focus:enabled {
  outline: none;
  border-color: var(--inputActive);
}

.icon {
  position: absolute;
  right: 0;
  top: -8px;
  color: var(--iconDefault);
}

.icon > * {
  cursor: pointer;
}
.sm {
  margin-left: 8px;
}
.searchIcon {
  color: var(--iconDefault);
  position: absolute;
  font-size: 20px;
  transform: translate(11px, 15px);
}
.searchBar {
  padding-left: 40px;
}
.visibilityIcon {
  position: absolute;
  right: 0;
  transform: translate(-8px, 32px);
  font-size: 22px;
  color: var(--iconDefault);
  cursor: pointer;
  z-index: 1;
}

.labelContainer {
  display: flex;
  justify-content: space-between;
  min-height: 20px;
  position: relative;
}

.unit {
  font-size: 16px;
  line-height: 20px;
  color: var(--labels);
  font-style: normal;
  font-weight: normal;
  font-family: 'Open Sans', 'SansSerif', serif;
  position: absolute;
  right: 0;
  transform: translate(-8px, 33px);
}

.currency {
  font-size: 16px;
  line-height: 20px;
  color: var(--labels);
  font-style: normal;
  font-weight: normal;
  font-family: 'Open Sans', 'SansSerif', serif;
  position: absolute;
  left: 0;
  transform: translate(8px, 34px);
  z-index: 1; // otherwise hidden behind the disabled background color
}

.leaf {
  transform: translate(4px, 3px);
  margin-left: 4px;
}

.tooltipIconContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

/* Wrapper for Input + stepper buttons */
.inputWrapper {
  position: relative;
  width: 100%;
}

.stepper {
  display: flex;
  flex-flow: column nowrap;
  position: absolute;
  right: 3px;
  top: 4px;

  :nth-child(1) {
    margin-bottom: -4px;
  }

  :nth-child(2) {
    margin-top: -4px;
  }
}

.stepper .stepperIcons {
  font-size: 24px;
  width: 32px;
  border-radius: 4px;
  transition: color 150ms;
  color: var(--iconDefault);
  cursor: pointer;

  &:hover {
    background-color: var(--grey200);
    color: var(--grey600);
  }
}

.inputWrapper input:disabled + .stepper .stepperIcons {
  pointer-events: none;
}
