.reportButton {
  font-size: 14px;
  font-family: 'Open Sans', ' SansSerif', serif;
  color: var(--teal700);
  margin-bottom: 16px;
  display: flex;
  gap: 4px;
}

.title {
  color: #000;
}

.helpText {
  margin-bottom: 24px;
}

.exportContents {
  overflow-y: auto;
  margin: 0 -24px;
  padding: 0 24px;
}

.dateFilterContainer {
  margin-bottom: 24px;
}

.filterContainer {
  margin-bottom: 16px;

  &:last-child {
    margin-bottom: 0;
  }
}
