.container {
  border: 1px solid var(--grey400);
  border-radius: 4px;
  width: 88px;
  filter: drop-shadow(0px 1px 2px rgba(102, 115, 138, 0.25));
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.pastVarietyContainer {
  border: 1px solid var(--teal700);

  .info {
    background-color: var(--grey200);

    .infoMain {
      color: var(--teal900);
    }
  }
}

.cropTemplateContainer {
  border: 1px solid var(--teal600);

  .info {
    background-color: var(--bgInputListTile);

    .infoMain {
      color: var(--teal700);
    }
  }
}

.selectedContainer {
  border: 1px solid var(--teal600);
  .info {
    background-color: var(--green100);
    .infoMain {
      color: var(--teal700);
    }
  }
}

.img {
  height: 72px;
  border-radius: 4px 4px 0 0;
  object-fit: cover;
}

.info {
  background-color: var(--grey100);
  padding: 8px;
  border-radius: 0 0 4px 4px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.infoMain {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  overflow-wrap: break-word;
}

.infoBody {
  font-weight: normal;
  font-size: 10px;
  line-height: 16px;
}

.dateContainer {
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 4px;
  fill: var(--teal700)
}

.pastIcon {
  fill: var(--teal900)
}

.cropCountContainer {
  display: flex;
  right: 0;
  position: absolute;
  flex-direction: column;
}

.needsPlanContainer {
  display: flex;
  left: 0;
  position: absolute;
  flex-direction: column;
}

.note {
  font-size: 10px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 2px;
  white-space: nowrap;
}

.imgPlaceHolder {
  background-color: var(--grey200);
}