/*
 *  Copyright 2023 LiteFarm.org
 *  This file is part of LiteFarm.
 *
 *  LiteFarm is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  LiteFarm is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 *  GNU General Public License for more details, see <https://www.gnu.org/licenses/>.
 */

.card {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    padding-block: 16px;
    padding-inline: 8px;
}

.updated {
    color: var(--teal700);
    margin-bottom: 12px;
    line-height: 20px;
}

.changes {
    margin: 0;
    line-height: 18px;
}

