.container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  min-width: 47px;
  height: 24px;
  // font family;
  color: white;
  font-weight: 700;
  border-radius: 4px;
}
