@import '../../assets/mixin';
.active {
  background-color: var(--green100);
  border-color: var(--teal700);
}
.secondary {
  background-color: var(--grey100);
  border-color: var(--grey500);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.primary {
  background: var(--white);
  @include midShadow();
}
.disabled {
  background: var(--grey400);
  border-color: var(--grey400);
}
.container {
  box-sizing: border-box;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  width: 100%;
}
.blue {
  background-color: var(--grey100);
  border-color: var(--blue700);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.blueActive {
  background: #e9f3ff;
  border-color: var(--blue700);
}

.info {
  background-color: var(--grey100);
  border-color: var(--grey400);
}
