.text {
  color: var(--Colors-Neutral-Neutral-700);
  font-size: 16px;
  font-weight: 400;
}

.overflowText, .overflowText div {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.rightChevronLink {
  height: 24px;
  width: 24px;
  padding: 4px;
  // Remove mui hover style
  &:hover {
    background-color: transparent;
  }
  svg {
    stroke: var(--Colors-Neutral-Neutral-400);
    stroke-width: 1px;
  }
}

.iconTextContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.iconTextIcon {
  background: transparent;
}

.iconBorder {
  border-radius: 8px;
  border: 1px solid var(--Colors-Primary-Primary-teal-100);
  background: white;
  box-shadow: 0px 1px 0px 0px var(--Colors-Neutral-Neutral-50);
  height: 32px;
  width: 32px;
  padding: 4px;
  svg {
    rect, path {
      fill: var(--Colors-Primary-Primary-teal-300);
    }
  }
}

.withSubtextText {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.withSubtextMainText {
  font-weight: 600;
}

.withSubtextSubtext {
  color: var(--grey500);
  font-size: 12px;
}

.marginRight8px {
  margin-right: 8px;
}

.highlightedText {
  display: flex;
  padding: 4px;
  border-radius: 2px;
  background: var(--Colors-Accent---singles-Purple-light);
  box-shadow: 1px 1px 0px 0px #FFF;
  color: var(--Colors-Accent---singles-Purple-full);
  font-size: 12px;
  font-weight: 700;
}

.mainText {
  display: flex;
  align-items: center;
  gap: 8px;
}

.italics {
  font-style: italic;
}