
.otherBrowserMessageTop {
    text-align: left;
    padding-top: 20px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #000000;
  }
  .otherBrowserMessageBottom {
    text-align: left;
    font-size: 14px;
    color: #282b36;
    padding-bottom: 70px;
  }