.taskCountContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 18px;
  margin-bottom: 16px;
}

.taskCount {
  background: var(--teal700);
  color: #ffffff;
  border-radius: 4px;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  padding: 2px 8px;
}
