.labelContainer {
  display: flex;
  align-items: center;
  margin-bottom: 22px;
  justify-content: stretch;
}

.label {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: var(--grey600);
}

.cropCount {
  border-radius: 4px;
  min-width: 16px;
  height: 16px;
  color: white;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  // text-align: center;
  justify-content: center;
  padding: 0 4px;
  margin: 0 10px;
}

.labelDivider {
  display: inline-block;
  border-top: 1px solid;
  // width: calc(100% - 80px);
  // transform: translate(11px, -3px);
  color: var(--grey400);
  // background-color: aqua;
  flex-grow: 2;
}

.tileContainer {
  margin-bottom: 30px;
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  gap: 24px;
}
