/*
 *  Copyright 2019, 2020, 2021, 2022 LiteFarm.org
 *  This file is part of LiteFarm.
 *
 *  LiteFarm is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  LiteFarm is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 *  GNU General Public License for more details, see <https://www.gnu.org/licenses/>.
 */

.container {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  width: 90vw;
  background: #fafafd;
  border-radius: 7.05466px;
  position: relative;
  padding: 24px;
}

.title {
  color: var(--teal700);
  line-height: 24px;
  margin-bottom: 4px;
  margin-left: 12px;
}

.buttonUpload{
  margin-top: 20px;
}

.uploadSelectInput{
  border: 1px solid var(--grey400);
  box-sizing: border-box;
  border-radius: 4px;
  height: 48px;
  padding-left: 8px;
  font-size: 16px;
  line-height: 24px;
  color: var(--fontColor);
  background-color: transparent;
  background-position: calc(100% - 36px) 50%;
  font-family: Open Sans,SansSerif,serif; 
  display: flex;
  align-items: center;
  cursor: pointer;
}

.invalidateUploadSelectInput{
  border: 1px solid var(--red700); 
  box-sizing: border-box;
  border-radius: 4px;
  height: 48px;
  padding-left: 8px;
  font-size: 16px;
  line-height: 24px;
  color: var(--fontColor);
  background-color: transparent;
  background-position: calc(100% - 36px) 50%;
  font-family: Open Sans,SansSerif,serif; 
  display: flex;
  align-items: center;
  cursor: pointer;
}

.uploadPlaceholder{
  margin-top: 24px;  
  margin-bottom: 4px;
}

.buttonContainer {
  background: none;
  border: 0;
  color: var(--buttonPrimary);
  cursor: pointer;
  max-height: 32px;
}

.modalHeaderWrapper {
  display: flex;
  margin-bottom: 16px;
  align-items: center;
}

.fileNameLabel{
  margin-bottom: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.uploadIconContainer{
  font-size: 20px;
  color: var(--grey600); 
  margin-right: 8px;
  min-width: 20px;
}

.csvErrorMessageWrapper{
  font-size: 12px;
  color: var(--red700); 
  margin-top: 8px;
}

.errorMessage{
  text-decoration: underline;
  font-size: 12px;
  color: var(--red700); 
  cursor: pointer;
}