@use '@assets/mixin' as *;

.floatLabelRight {
  float: right;
}

.consentTextContainer {
  @include fontFamily();
  height: 0;
  flex-grow: 1;
  width: 100%;
  overflow-y: scroll;
  display: flex;
  row-gap: 20px;
  flex-direction: column;
  padding-bottom: 40px;
}

.consentTextContainer li {
  margin-left: 20px;
}

.fadeEffect {
  width: 100%;
  height: 38px;
  // rgb(250, 252, 251) = --Colors-Backgrounds-Background-color: #fafcfb;
  background: linear-gradient(180deg, rgba(250, 252, 251, 0.2) 0%, rgba(250, 252, 251, 1) 55.21%);
  margin-top: -28px;
  z-index: 2000;
}
