@import '../../../assets/mixin.scss';

.floatLabelRight {
  float: right;
}

.consentTextContainer {
  @include fontFamily();
  height: 0;
  flex-grow: 1;
  width: 100%;
  overflow-y: scroll;
  display: flex;
  row-gap: 20px;
  flex-direction: column;
  padding-bottom: 40px;
}

.consentTextContainer li {
  margin-left: 20px;
}
