.radioGroupContainer {
  position: relative;
  padding-bottom: 36px;
}

.radioIconsContainer {
  top: 0;
  position: absolute;
  flex-direction: column;
  row-gap: 16px;
  display: grid;
  justify-items: end;
  width: 100%;
  transform: translateY(-5px);
  pointer-events: none;
}

.imageGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
  justify-items: center;

  img {
    width: 100%;
    border-radius: 4px;
    max-width: 150px;
    cursor: pointer;
  }
}

