/*
 *  Copyright 2023 LiteFarm.org
 *  This file is part of LiteFarm.
 *
 *  LiteFarm is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  LiteFarm is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 *  GNU General Public License for more details, see <https://www.gnu.org/licenses/>.
 */
 
 .mainContentWithIcon {
  padding: 12px;
  align-items: center;
}

.item {
  border: solid 1px transparent;
  border-bottom: solid 1px var(--grey200);

  &.expanded {
    background-color: #F6FBFA;
    border: solid 1px var(--grey400);
  }
}

.icon {
  margin-top: 5px;
}

.mainContent {
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.mainContentLeft {
  display: flex;

  svg {
    width: 28px;
    height: 28px;
    margin-top: 5px;
    margin-right: 4px;
  }
}

.mainContentTitle {
  font-weight: 700;
}

.mainContentInfo {
  font-size: 12px;
  line-height: 16px;
}

.expandedContent {
  background-color: #fff;
  width: 96%;
  margin: 2%;
  margin-top: 0 
}
