/*
 *  Copyright 2024 LiteFarm.org
 *  This file is part of LiteFarm.
 *
 *  LiteFarm is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  LiteFarm is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 *  GNU General Public License for more details, see <https://www.gnu.org/licenses/>.
 */
@import '../../../assets/mixin.scss';

.mainContent {
  margin: 0 auto;
  width: 100%;
  max-width: 1024px;
}

.paper {
  display: flex;
  flex-direction: column;

  @include lg-breakpoint {
    padding: 16px;
  }
}

.divWrapper {
  height: auto;
  overflow-y: auto;
}

.taskViewMaxHeight {
  max-height: calc(
    100vh - var(--global-navbar-height) - var(--global-multi-step-task-layout-aggregated-height)
  );
}

.completeViewMaxHeight {
  max-height: 450px;
}

.summaryViewHeight {
  height: auto;
}

.section {
  margin-top: 24px;
  padding: 8px 0;
  background: var(--White);
  border-radius: 8px;
  border: 1px solid var(--Colors-Neutral-Neutral-50);
  gap: 8px;

  @include lg-breakpoint {
    padding: 8px 16px;
  }
}

.expandedContentWrapper {
  margin-top: 16px;
}

.detailsWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
  background: var(--White);
}

.blueColor {
  color: var(--Colors-Accent---singles-Blue-full);
  svg {
    color: var(--Colors-Accent---singles-Blue-full);
  }
}

.buttonText {
  display: flex;
  align-items: center;
  gap: 8px;
  // If core button styles change this will match icon
  line-height: 16px;
  > svg {
    // Match line height of button
    max-height: 16px;
  }
}

.disableHover {
  pointer-events: none;
}

.buttonText {
  display: flex;
  align-items: center;
  gap: 8px;
  // If core button styles change this will match icon
  line-height: 16px;
  > svg {
    // Match line height of button
    max-height: 16px;
  }
}

.disableHover {
  pointer-events: none;
}

.location {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 14px;
  font-weight: 600;
  color: var(--Colors-Neutral-Neutral-600);

  &.unknown {
    font-weight: normal;
  }
}

.locationIcon {
  padding: 0;
  min-width: 16px;
  background-color: transparent;
}

.locationText {
  width: calc(100% - 20px); // icon width 16px + gap 4px
  @include truncateText();
}

.cellAfterCheckbox {
  margin-left: -12px;
}
