:root {
  --teal900: #085d50;
  --teal700: #266f68;
  --teal600: #3ea992;
  --teal500: #89d1c7;
  --teal100: #f1fbf9;
  --teal50: #ebf5f4;
  --green800: #048211;
  --green500: #78c99e;
  --green700: #558f70;
  --green400: #a8e6bd;
  --green200: #c7efd3;
  --green100: #e3f8ec;
  --secondaryGreen800: #495c51;
  --secondaryGreen200: #c1e6d2;
  --secondaryGreen50: #f2faf5;
  --yellow700: #ffb800;
  --yellow400: #fed450;
  --yellow300: #fce38d;
  --yellow100: #f8ecd0;
  --grey900: #282b36;
  --grey600: #66738a;
  --grey500: #9faabe;
  --grey400: #d4dae3;
  --grey200: #f3f6fb;
  --grey100: #fafafd;
  --overlay: rgba(36, 39, 48, 0.5);
  --red700: #d02620;
  --red400: #f58282;
  --red200: #ffe8e8;
  --orange700: #ffa73f;
  --orange400: #ffc888;
  --purple700: #8f26f0;
  --purple400: #ffe55b;
  --brightGreen700: #037a0f;
  --brightGreen400: #a6f7ae;
  --cyan700: #03a6ca;
  --cayn400: #4fdbfa;
  --blue200: #e9f3ff;
  --blue700: #0669e1;
  --grey1: #333333;
  --brown200: #fff6ed;
  --brown700: #aa5f04;
  --brown900: #7e4c0e;
  --info: var(--blue700);
  --success: var(--brightGreen700);
  --warning: var(--orange700);
  --error: var(--red700);
  --labels: var(--grey600);
  --iconDefault: var(--grey500);
  --btnDisabled: var(--grey400);
  --inputDefault: var(--grey400);
  --inputDisabled: var(--grey100);
  --screenBackground: var(--grey100);
  --btnHoverPrimary: var(--yellow400);
  --btnPrimary: var(--yellow300);
  --brandColor: var(--teal900);
  --btnSecondary: white;
  --iconActive: var(--teal600);
  --inputActive: var(--teal500);
  --fontColor: var(--grey900);
  --border: var(--grey200);
  --checkbox: var(--teal700);
  --tooltipFont: var(--grey1);
  --modalPrimary: white;
  --bgInputListTile: white;
  --mainBackground: #fafcfb;
  --tableAlternateRowBackground: #f7fbff;
  --tableSortPill: #f4f5f7;

  // New design system colours
  --White: #fff;

  --Colors-Primary-Primary-teal-50: #ebf5f4;
  --Colors-Primary-Primary-teal-100: #c0e1dd;
  --Colors-Primary-Primary-teal-300: #78bdb6;
  --Colors-Primary-Primary-teal-400: #5db1a8;
  --Colors-Primary-Primary-teal-600: #308f85;
  --Colors-Primary-Primary-teal-700: #266f68;
  --Colors-Primary-Primary-teal-900: #16423d;

  --Colors-Secondary-Secondary-green-50: #f2faf5;
  --Colors-Secondary-Secondary-green-100: #d5eee1;
  --Colors-Secondary-Secondary-green-200: #c1e6d2;
  --Colors-Secondary-Secondary-green-400: #93d4b1;
  --Colors-Secondary-Secondary-green-600: #6db790;
  --Colors-Secondary-Secondary-green-700: #558f70;
  --Colors-Secondary-Secondary-green-800: #426f57;
  --Colors-Secondary-Secondary-green-900: #325442;

  --Colors-Neutral-Neutral-50: #f0f1f3;
  --Colors-Neutral-Neutral-200: #b9bfc9;
  --Colors-Neutral-Neutral-300: #98a1b1;
  --Colors-Neutral-Neutral-400: #858fa1;
  --Colors-Neutral-Neutral-500: #66738a;
  --Colors-Neutral-Neutral-600: #5d697e;
  --Colors-Neutral-Neutral-700: #485262;
  --Colors-Neutral-Neutral-900: #2b303a;

  --Btn-primary-pristine: #ffcf54;
  --Btn-primary-hover: #e8a700;
  --Btn-primary-disabled: #e7ebf2;

  --Colors-Accent-Accent-yellow-50: #fff8e6;
  --Colors-Accent-Accent-yellow-100: #ffe9b0;
  --Colors-Accent-Accent-yellow-400: #ffc633;
  --Colors-Accent-Accent-yellow-500: #ffb800;
  --Colors-Accent-Accent-yellow-600: #e8a700;
  --Colors-Accent-Accent-yellow-700: #b58300;
  --Colors-Accent-Accent-yellow-900: #6b4d00;
  --Colors-Accent---singles-Red-light: #ffdad9;
  --Colors-Accent---singles-Red-full: #d02620;
  --Colors-Accent---singles-Red-dark: #520f0d;
  --Colors-Accent---singles-Blue-dark: #032d61;
  --Colors-Accent---singles-Brown-full: #aa5f04;
  --Colors-Accent---singles-Brown-dark: #633700;
  --Colors-Accent---singles-Purple-full: #8f26f0;
  --Colors-Accent---singles-Purple-light: #f4e8ff;
  --Colors-Accent---singles-Blue-light: #e9f3ff;
  --Colors-Accent---singles-Blue-full: #0669e1;
}
