:root {
  --teal900: #085d50;
  --teal700: #266f68;
  --teal600: #3ea992;
  --teal500: #89d1c7;
  --teal100: #f1fbf9;
  --teal50: #EBF5F4;
  --green800: #048211;
  --green500: #78C99E;
  --green700: #558F70;
  --green400: #a8e6bd;
  --green200: #c7efd3;
  --green100: #e3f8ec;
  --secondaryGreen800: #495c51;
  --secondaryGreen200: #C1E6D2;
  --secondaryGreen50: #F2FAF5;
  --yellow700: #ffb800;
  --yellow400: #fed450;
  --yellow300: #fce38d;
  --yellow100: #f8ecd0;
  --grey900: #282b36;
  --grey600: #66738a;
  --grey500: #9faabe;
  --grey400: #d4dae3;
  --grey200: #f3f6fb;
  --grey100: #fafafd;
  --overlay: rgba(36, 39, 48, 0.5);
  --red700: #d02620;
  --red400: #f58282;
  --red200: #FFE8E8;
  --orange700: #ffa73f;
  --orange400: #ffc888;
  --purple700: #8f26f0;
  --purple400: #ffe55b;
  --brightGreen700: #037A0F;
  --brightGreen400: #a6f7ae;
  --cyan700: #03a6ca;
  --cayn400: #4fdbfa;
  --blue200: #e9f3ff;
  --blue700: #0669e1;
  --grey1: #333333;
  --brown200: #fff6ed;
  --brown700: #AA5F04;
  --brown900: #7E4C0E;
  --info: var(--blue700);
  --success: var(--brightGreen700);
  --warning: var(--orange700);
  --error: var(--red700);
  --labels: var(--grey600);
  --iconDefault: var(--grey500);
  --btnDisabled: var(--grey400);
  --inputDefault: var(--grey400);
  --inputDisabled: var(--grey100);
  --screenBackground: var(--grey100);
  --btnHoverPrimary: var(--yellow400);
  --btnPrimary: var(--yellow300);
  --brandColor: var(--teal900);
  --btnSecondary: white;
  --iconActive: var(--teal600);
  --inputActive: var(--teal500);
  --fontColor: var(--grey900);
  --border: var(--grey200);
  --checkbox: var(--teal700);
  --tooltipFont: var(--grey1);
  --modalPrimary:  white;
  --bgInputListTile: white;
  --mainBackground: #FAFCFB;
  --tableAlternateRowBackground: #F7FBFF;
  --tableSortPill: #F4F5F7;


  // New design system colours
  --Colors-Primary-Primary-teal-900: #16423d;
  --Colors-Accent---singles-Blue-dark: #032d61
  --Colors-Accent---singles-Brown-dark: #633700;
  --Colors-Secondary-Secondary-green-700: #558F70;
  --Colors-Secondary-Secondary-green-600: #6DB790;
  --Colors-Secondary-Secondary-green-400: #93D4B1;
  --Colors-Neutral-Neutral-50: #F0F1F3;
  --Colors-Neutral-Neutral-400: #858FA1;
  --Colors-Neutral-Neutral-700: #485262;
}
