@import './mixin.scss';

:root {
    // GLOBAL CSS VARIABLES
    --global-navbar-height: 64px;
    --global-map-header-height: 48px;
    --global-min-location-picker-height: 150px;
    --global-side-menu-width: 188px;
    --global-compact-side-menu-width: 80px;
    // 249px = 24px form padding + 41px form title and progress + 24px margin + 24px call to action + 16 px margin + 24px margin + 24 px padding + 48px button + 24 px padding
    --global-multi-step-task-layout-aggregated-height: 249px;
}

@include xs-breakpoint {
    :root {
        --global-navbar-height: 55px;
        --global-side-menu-width: 0px;
    }
}
