@import './mixin.scss';

:root {
    // GLOBAL CSS VARIABLES
    --global-navbar-height: 64px;
    --global-map-header-height: 48px;
    --global-side-menu-width: 176px;
    --global-compact-side-menu-width: 100px;
}

@include xs-breakpoint {
    :root {
        --global-navbar-height: 55px;
        --global-side-menu-width: 0px;
    }
}
