/*
 *  Copyright 2024 LiteFarm.org
 *  This file is part of LiteFarm.
 *
 *  LiteFarm is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  LiteFarm is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 *  GNU General Public License for more details, see <https://www.gnu.org/licenses/>.
 */

.card {
  border-radius: 4px;
  background-color: var(--White);
  padding: 24px;
  border: 1px solid var(--Colors-Primary-Primary-teal-50);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.05);
}

.active {
  border: 1px solid var(--teal500);
  box-shadow: 0px 0px 4px 0px var(--Colors-Neutral-Neutral-200);
}
