/*
 *  Copyright 2023 LiteFarm.org
 *  This file is part of LiteFarm.
 *
 *  LiteFarm is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  LiteFarm is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 *  GNU General Public License for more details, see <https://www.gnu.org/licenses/>.
 */

@import './assets/mixin.scss';

.container {
  display: flex;
  width: 100vw;
  flex-grow: 1;

  @include sm-breakpoint {
    justify-content: center;
  }
}

.app {
  width: 100%;
  max-width: 1024px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.root {
  width: calc(100vw - 48px);
  max-width: 976px;
}

.slideMenu {
  width: var(--global-side-menu-width);
  height: 100vh;
  position: sticky;
  top: 0;
  overflow: hidden;
  background-color: var(--bgInputListTile);
}

.mainColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  width: calc(100vw - var(--global-side-menu-width));
}
