/*
 *  Copyright 2023 LiteFarm.org
 *  This file is part of LiteFarm.
 *
 *  LiteFarm is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  LiteFarm is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 *  GNU General Public License for more details, see <https://www.gnu.org/licenses/>.
 */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  flex-grow: 1;
  min-height: 100vh;
  min-height: -webkit-fill-available;

  @media only screen and (min-width: 415px) {
    display: grid;
    grid-template-columns: 204px;
    grid-template-rows: var(--global-navbar-height);
    align-items: flex-start;
  }
}

.app {
  width: 100%;
  max-width: 1024px;
  flex: 1;
  display: flex;
  flex-direction: column;

  @media only screen and (min-width: 415px) {
    display: grid;
    grid-row: 2 / 3;
    overflow-y: auto;
  }
}

.root {
  width: calc(100vw - 48px);
  max-width: 976px;
}

.mainMenu {
  display: none;

  @media only screen and (min-width: 415px) {
    display: block;
  }
}
