.labelContainer {
  display: flex;
  align-items: center;
  margin-bottom: 22px;
  justify-content: stretch;
}
.cropLabel {
  margin: 0 auto;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 20px;
  line-height: 18px;
  color: var(--grey700);
}

.label {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: var(--grey600);
}

.labelDivider {
  display: inline-block;
  border-top: 1px solid;
  color: var(--grey400);
  flex-grow: 2;
}

.tileContainer {
  margin-bottom: 30px;
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  gap: 24px;
}

