.greenPlus {
  width: 2em;
  height: 2em;
  background: #1b847a;
  font-weight: bolder;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 2em;
  cursor: pointer;
}

.greenPlus:hover {

  background: #286090;
}

.expenseTitle {
  color: #5b6370;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 10px;
}

.addContainer {
  width: 70%;
  margin: 18px 0px 25px 0px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: left;
  color: #00756a;
  font-style: normal;
  font-weight: normal;
  line-height: 26px;
  font-size: 16px;
}

.itemContainer {
  mix-blend-mode: normal;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 5% 3%;
}

.labelInput {
  label {
    word-wrap: break-word;
    font-style: normal;
    font-weight: normal;
    line-height: 26px;
    font-size: 18px;
    letter-spacing: 0.324px;
    color: #4d4d4d;
  }
  input, textarea {
    width: 60%;
    border: 1px solid #efefef;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 0 5%;
    line-height: 37px;
    font-family: 'Open Sans', 'SansSerif', serif;
  }
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.fieldContainer {
  margin-bottom: 15px;
}

.removeButton {
  display: flex;
  justify-content: center;
  color: #ef3b7d;
  width: 100%;
}


