@import "../../assets/colors";
.input {
  border: 2px solid var(--border);
  box-sizing: border-box;
  border-radius: 4px;
  height: 48px;
  font-size: 16px;
  padding-left: 8px;
  color: var(--fontColor);
}

.checkbox {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  vertical-align: middle;
}

.input:disabled {
  background-color: var(--inputDisabled);
  color: var(--inputDefault);
}

.fullLength{
  width: 100%;
}

.label{
  color: var(--labels);
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 4px;
}
.container{
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

input:invalid{
  border-color: var(--error);
}

