
.appBar {
  background-color: var(--bgInputListTile);
  box-shadow: 0px 2px 0px 0px #0000000D;
  height: var(--global-navbar-height);
}

.toolbar {
  padding: 8px;
}

.centerContent {
  justify-content: center;
}

.logo {
  position: absolute;
  margin-left: var(--global-sidebar-width);

  &.withLink {
    cursor: pointer;
  }
}

.paddingTopBottom {
  padding: 8px 0px;
}

.burgerMenu {
  font-size: 32px;
  color: var(--teal700);
}

.iconButton {
  margin: 8px;
  padding: 0;
}

.notificationButton {
  transform: translateY(1px);
}

.menuList {
  padding: 0px;
  min-width: 176px;
  border-radius: var(--Spaces-1x, 4px) 0px var(--Spaces-1x, 4px) var(--Spaces-1x, 4px);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.menuRoot {
  padding: 0px 0px;
}

.popperRoot {
  top: 8px;
}

.drawerMenuPaper {
  border-radius: var(--Spaces-4x, 16px) var(--Spaces-4x, 16px) 0px 0px ;
  box-shadow: 0px -4px 4px 0px rgba(0, 0, 0, 0.10);
}

.drawerMenuList {
  padding-top: 0px;
  padding-bottom: 0px;
}

.drawerListSubheader {
  background-color: var(--mainBackground);
  text-align: right;
}

.drawerListSubheader > * {
  vertical-align: middle;
}

.menuItemRoot {
  width: 100%;
  padding: 16px 22px 16px 14px;
  border-top: 1px solid #E9EBF8;
  align-items: center;

//   &:hover {
//     background-color: var(--teal50);
//   }
}

.itemTextRoot {
  color: var(--teal700);
  font-family: Proxima Nova;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}

.listItemIconRoot {
  padding-right: 8px;
}

.flexGrow {
  flex-grow: 1;
}

.floaterMenuPosition {
  margin-top: 8px;
}
