/*
 *  Copyright 2024 LiteFarm.org
 *  This file is part of LiteFarm.
 *
 *  LiteFarm is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  LiteFarm is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 *  GNU General Public License for more details, see <<https://www.gnu.org/licenses/>.>
 */
 @import '../../assets/mixin.scss';

.displayBlock {
  display: block;
}

.circle {
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}

.icon {
  // Base style
  background-color: white;
  min-height: 32px;
  min-width: 32px;
  padding: 4px;
  
  // centered
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons {
  @include svgColorFill(var(--Colors-Neutral-Neutral-700));
  background-color: var(--Colors-Backgrounds-Background-color);
  min-height: 32px;
  min-width: 32px;
  padding: 16px 24px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.pill {
  border-radius: 64px;
}