.displayBlock {
  display: block;
}

.circle {
  border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
}

.icon {
  // Base style
  background-color:white; 
  min-height: 32px;
  min-width: 32px;
  padding: 4px;
  
  // centered
  display: flex;
  justify-content: center;
  align-items: center;
}