/*
 *  Copyright 2023 LiteFarm.org
 *  This file is part of LiteFarm.
 *
 *  LiteFarm is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  LiteFarm is distributed in the hope that it will be useful;
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 *  GNU General Public License for more details, see <https://www.gnu.org/licenses/>.
 */
 
.drawer {
  background-color: var(--teal700);
  // Higher than the current highest z-index in the app
  z-index: 1302;
}

.drawerHeader {
  svg {
    path {
      color: var(--teal50);
    }
  }
}

.drawerContent {
  padding: 0;
  margin-bottom: -16px;
}

.sideMenu {
  height: 100vh;
  position: sticky;
  top: 0;
  overflow: auto;
  background-color: var(--bgInputListTile);
  z-index: 1302;
}

.mainColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

.toggleMenuButton {
  border: 1px solid #D1E9D9;
  padding: 4px;
  position: absolute;
  top: calc(var(--global-navbar-height) / 2 - 12px);
  left: calc(var(--global-side-menu-width) - 14px);
  background-color: white;
  z-index: 1303;

  svg {
    height: 16px;
    width: 16px;
  }

  &:hover {
    background-color: var(--green500);
    
    svg {
      path {
        stroke: var(--green800);
      }
    }
  }

  &.expandMenuButton {
    left: calc(var(--global-compact-side-menu-width) - 13px);
  }
}
