/*
 *  Copyright 2023 LiteFarm.org
 *  This file is part of LiteFarm.
 *
 *  LiteFarm is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  LiteFarm is distributed in the hope that it will be useful;
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 *  GNU General Public License for more details, see <https://www.gnu.org/licenses/>.
 */

@keyframes toggle-collapse {
  0% {
    left: calc(var(--global-side-menu-width) - 14px);
    transform: rotate(0);
  }

  80% {
    left: calc(var(--global-compact-side-menu-width) - 13px);
    transform: rotate(-180deg);
  }

  90% {
    left: calc(var(--global-compact-side-menu-width) - 11px);
    transform: rotate(-185deg);
  }

  100% {
    left: calc(var(--global-compact-side-menu-width) - 13px);
    transform: rotate(-180deg);
  }
}

@keyframes toggle-expand {
  0% {
    left: calc(var(--global-compact-side-menu-width) - 13px);
    transform: rotate(-180deg);
  }

  80% {
    left: calc(var(--global-side-menu-width) - 14px);
    transform: rotate(0);
  }

  90% {
    left: calc(var(--global-side-menu-width) - 12px);
    transform: rotate(5deg);
  }

  100% {
    left: calc(var(--global-side-menu-width) - 14px);
    transform: rotate(0);
  }
}

@keyframes toggle-initial {
  0% {
    left: calc(var(--global-compact-side-menu-width) - 13px);
    transform: rotate(-180deg);
  }

  20% {
    left: calc(var(--global-side-menu-width) - 14px);
    transform: rotate(-180deg);
  }

  40% {
    left: calc(var(--global-side-menu-width) + 2px);
    transform: rotate(-180deg);
  }

  60% {
    left: calc(var(--global-side-menu-width) - 24px);
    transform: rotate(-180deg);
  }

  80% {
    left: calc(var(--global-side-menu-width) - 10px);
    transform: rotate(-180deg);
  }

  90% {
    left: calc(var(--global-side-menu-width) - 16px);
    transform: rotate(-180deg);
  }

  100% {
    left: calc(var(--global-side-menu-width) - 14px);
    transform: rotate(-180deg);
  }
}

@keyframes toggle-color-initial {
  0% {
    background-color: white;
  }

  50% {
    background-color: var(--green700);
  }

  100% {
    background-color: white;
  }
}


.drawer {
  background-color: var(--teal700);
  z-index: 1299;
}

.drawerHeader {
  svg {
    path {
      color: var(--teal50);
    }
  }
}

.drawerContent {
  padding: 0;
  margin-bottom: -16px;
}

.sideMenu {
  height: 100vh;
  position: sticky;
  top: 0;
  overflow: auto;
  background-color: var(--bgInputListTile);
  z-index: 1299;
}

.mainColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

.menuToggle {
  border: 1px solid #D1E9D9;
  padding: 4px;
  position: fixed;
  top: calc(var(--global-navbar-height) / 2 - 12px);
  left: calc(var(--global-side-menu-width) - 14px);
  background-color: white;
  z-index: 1300;
  transition: transform 0.5s;
  animation: toggle-initial 0.9s forwards, toggle-color-initial 2s;

  svg {
    height: 16px;
    width: 16px;
  }

  &:hover {
    background-color: var(--green500);
    
    svg {
      path {
        stroke: var(--green800);
      }
    }
  }

  &.compactMenuToggle {
    transform: rotate(-180deg);
    left: calc(var(--global-compact-side-menu-width) - 13px);
    animation-name: toggle-collapse;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }

  &.expandedMenuToggle {
    animation-name: toggle-expand;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }
}
