/*
 *  Copyright 2025 LiteFarm.org
 *  This file is part of LiteFarm.
 *
 *  LiteFarm is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  LiteFarm is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 *  GNU General Public License for more details, see <https://www.gnu.org/licenses/>.
 */

@import '@assets/mixin.scss';

.ipViewContainer {
  padding: 16px;
  max-width: 100vw;
}

.mapContainer {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  overflow: hidden;
  height: 360px;

  > div {
    aspect-ratio: 1/1;
    width: 100%;
    height: 520px;
    transform: translateY(-60px);
  }
}

.dataText {
  display: flex;
  padding: 16px 8px;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;

  color: var(--Colors-Neutral-Neutral-600);
  background: var(--Colors-Backgrounds-Background-color);

  font-size: 16px;
  font-weight: 400;
}

// Table styles
.tableHeader.tableHeader {
  background: var(--White, #fff);
  border: none;

  color: var(--Colors-Neutral-Neutral-300);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.352px;

  @include truncateText();
}

.irrigationZoneCell {
  svg circle {
    fill: var(--zone-colour);
  }

  // text label
  > div:nth-child(2) {
    color: var(--zone-colour);
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -0.352px;
  }
}

.tableBody.tableBody {
  // Remove the gap between header and table
  &::before {
    content: none;
  }
}

.tableText.tableText {
  color: var(--Colors-Neutral-Neutral-900);
  font-size: 16px;
  font-weight: 700;
}
