/*
 *  Copyright 2023 LiteFarm.org
 *  This file is part of LiteFarm.
 *
 *  LiteFarm is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  LiteFarm is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 *  GNU General Public License for more details, see <https://www.gnu.org/licenses/>.
 */

.entitySalePickerContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.selectorGroup {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.saleItemList {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 8px;
}

.saleItemContainer {
  display: flex;
  gap: 24px;
}

.saleItemInputGroup {
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-width: 200px;
  flex-grow: 1;
}
