name: 'Chromatic'

on:
  push:
    branches: [ develop, LF-2180/vite ]

jobs:
  chromatic-deployment:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: packages/webapp
    strategy:
      matrix:
        node-version: [ 16 ]
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: pnpm/action-setup@v2.0.1
        with:
          version: 6.26.1
      - name: Install dependencies
        run: pnpm install

      - name: Publish to Chromatic
        env:
          NODE_OPTIONS: "--max-old-space-size=8192"
        run: ./node_modules/.bin/chromatic --project-token ${{ secrets.CHROMATIC_PROJECT_TOKEN }}

