name: Test App

on: [push]

jobs:
  build:
    timeout-minutes: 10
    runs-on: macos-12
    env:
      JWT_INVITE_SECRET: ${{secrets.JWT_INVITE_SECRET}}
      JWT_RESET_SECRET: ${{secrets.JWT_RESET_SECRET}}
      JWT_SCHEDULER_SECRET: ${{secrets.JWT_SCHEDULER_SECRET}}
      JWT_SECRET: ${{secrets.JWT_SECRET}}
      TEST_USER: ${{secrets.TEST_USER}}
      TEST_USER_ID: ${{secrets.TEST_USER_ID}}
      DEV_DATABASE_HOST: localhost
      DEV_DATABASE: pg-litefarm
      DEV_DATABASE_USER: postgres
      DEV_DATABASE_PASSWORD: postgres

      
    strategy:
      matrix:
        node-version: [17.5.0]

    steps:
      - uses: ikalnytskyi/action-setup-postgres@v3
        with:
          username: ${{env.DEV_DATABASE_USER}}
          password: ${{env.DEV_DATABASE_PASSWORD}}
          database: ${{env.DEV_DATABASE}}
          port: 5432

      - uses: actions/checkout@v2

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - name: Run API in background
        working-directory: packages/api
        run: |
          npm ci && cd ../shared && npm ci
          cd ../api && npm run migrate:dev:db
          npm run start &
        env:
          PORT: 5000
          
      - name: Install pnpm
        uses: pnpm/action-setup@v2
        with:
          version: latest

      - name: Run and test app
        env:   
          VITE_GOOGLE_MAPS_API_KEY: ${{secrets.VITE_GOOGLE_MAPS_API_KEY}}
          VITE_WEATHER_API_KEY: ${{secrets.VITE_WEATHER_API_KEY}}
          VITE_ENV: development
          VITE_GOOGLE_OAUTH_CLIENT_ID: ${{secrets.VITE_GOOGLE_OAUTH_CLIENT_ID}}
          VITE_DO_BUCKET_NAME: litefarm
          NODE_ENV: development
          VITE_API_URL: http://localhost:5000
          CYPRESS_RECORD_KEY: "2630f414-4914-48b0-907d-aa3a9cc6a30b"
        uses: cypress-io/github-action@v4.2.0 
        with:
          working-directory: packages/webapp
          install-command: pnpm install --config.auto-install-peers=true --frozen-lockfile
          install: true
          build: npx browserslist@latest --update-db
          start: pnpm dev
          wait-on: 'http://localhost:3000'
          wait-on-timeout: 120
          browser: chrome
          record: true
          parallel: true
          group: 'UI - Chrome'
          spec: cypress/e2e/happyPath.spec.js 
