name: 'Deploy'
on:
  workflow_dispatch:

  push:
    branches:
      - integration

concurrency: beta-deploy

jobs:
  deploy:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Deploy over SSH
        uses: appleboy/ssh-action@v0.1.7
        with:
          script_stop: true
          host: ${{ secrets.BETA_SSH_HOST }}
          username: ${{ secrets.BETA_SSH_USER }}
          passphrase: ${{ secrets.BETA_SSH_PASS }}
          key: ${{ secrets.BETA_SSH_KEY }}
          command_timeout: 20m
          script: ${{ github.workspace }}/beta-deploy.sh
