name: 'Deploy'
on:
  workflow_dispatch:

  push:
    branches:
      - integration

concurrency: beta-deploy

jobs:
  deploy:
    runs-on: ubuntu-20.04
    steps:
      - name: Deploy over SSH
        uses: appleboy/ssh-action@v0.1.3
        with:
          host: ${{ secrets.BETA_SSH_HOST }}
          username: ${{ secrets.BETA_SSH_USER }}
          passphrase: ${{ secrets.BETA_SSH_PASS }}
          key: ${{ secrets.BETA_SSH_KEY }}
          script: ${{ secrets.DEPLOYMENT_SCRIPT }}
