name: "Lint Translation Files"

on:
  # Trigger the workflow on pull request,
  # but only for the integration branch
  pull_request:
    branches:
      - integration

jobs:
  run-linters-in-webapp:
    name: Run linters in webapp
    runs-on: ubuntu-latest
    container: node:22.21
    defaults:
      run:
        working-directory: packages/webapp/

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v3

      - name: Set up pnpm
        uses: pnpm/action-setup@v4
        with:
          package_json_file: "packages/webapp/package.json"
      - name: Install pnpm dependencies
        run: pnpm install

      - name: Run linters
        run: |
    pnpx eslint@latest "./public/locales/**/*.json" --no-config-lookup --ext .json --plugin eslint-plugin-json --parser @typescript-eslint/parser --rule "json/*: error"

  run-linters-in-api:
    name: Run linters in api
    runs-on: ubuntu-24.04
    defaults:
      run:
        working-directory: packages/api/

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22.21

      - name: Install dependencies for Node.js server
        run: npm install

      - name: Run linters
        run: npx eslint './src/jobs/locales/**/*.json' './src/templates/locales/**/*.json'
