name: Webapp Unit Tests

on:
  pull_request:
    branches:
      - integration

jobs:
  webapp_unit_tests:
    name: Webapp Unit Tests
    runs-on: ubuntu-latest
    container: node:22.21
    defaults:
      run:
        working-directory: packages/webapp
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3
      - name: Install dependencies
        run: npm install
      - name: Run unit tests
        run: npm test
