/*
 *  Copyright 2025 LiteFarm.org
 *  This file is part of LiteFarm.
 *
 *  LiteFarm is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  LiteFarm is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 *  GNU General Public License for more details, see <https://www.gnu.org/licenses/>.
 */

@import '@assets/mixin.scss';

.sensorReadingKpi {
  border-radius: 4px;
  height: 59px;
  background: var(--Colors-Accent---singles-Blue-full);
  display: flex;
}

.opaqueLayer {
  background: white;
  opacity: 0.9;
  color: var(--Colors-Accent---singles-Blue-full);
  display: flex;
  padding: 8px 12px;
  flex-direction: column;
  flex: 1 0 0;
  @include fontFamily();
  font-style: normal;
}

.measureText {
  white-space: nowrap;
  align-self: stretch;
  font-size: 14px;
  font-weight: 300;
  line-height: normal;
}

.valueText {
  align-self: stretch;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px; /* 100% */
}

.sensorKpi {
  border-radius: 4px;
  background: var(--Colors-Accent---singles-Blue-full);
  display: flex;
  gap: 8px;
}

.gap8px {
  gap: 8px;
}

.measurement {
  display: block;
}

.topDetails {
  display: flex;
  gap: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.sensor {
  display: flex;
  gap: 8px;
  align-items: center;
  @include svgColorFill(var(--Colors-Accent---singles-Blue-full));
  font-size: 16px;
  font-weight: 600;
  line-height: 30px; /* 187.5% */
}

.discriminator {
  display: flex;
  gap: 8px;
  align-items: center;
  @include svgColorFill(var(--Colors-Accent---singles-Blue-full));
  font-size: 14px;
  font-weight: 400;
  line-height: 30px; /* 214.286% */
}

.icon {
  padding: 0px;
}

.discriminatorText {
  position: relative;
  left: -16px;
}