/*
 *  Copyright 2025 LiteFarm.org
 *  This file is part of LiteFarm.
 *
 *  LiteFarm is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  LiteFarm is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 *  GNU General Public License for more details, see <https://www.gnu.org/licenses/>.
 */

@import '@assets/mixin.scss';

.consentContainer {
  width: 100%;
  display: flex;
  padding-inline: 24px;
  flex-direction: column;
  gap: 32px;

  .consentTitle {
    font-size: 16px;
    line-height: 24px;
    color: var(--Colors-Neutral-Neutral-900);
  }

  @include xs-breakpoint {
    padding-inline: 0;
  }
}

.warningBanner {
  padding: 8px 16px;
  display: flex;
  justify-content: center;

  border-radius: 4px;
  background: var(--Colors-Accent---singles-Brown-light);

  color: var(--Colors-Accent---singles-Brown-dark);
  font-style: italic;
  font-size: 16px;
  font-weight: 700;
}

.consent {
  .consentTitle {
    margin-bottom: 16px;
  }
}

.marketDirectories {
  .consentTitle {
    margin-bottom: 4px;
  }

  .lead {
    color: #000;
    font-size: 16px;
    line-height: normal;
    margin-bottom: 16px;
  }
}

.marketTiles {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 16px;

  .logoAndCountry {
    display: flex;
    align-items: center;
    gap: 16px;
    white-space: nowrap;

    span {
      color: #89bb7e;
      font-size: 16px;
    }
  }
}
