/*
 *  Copyright 2025 LiteFarm.org
 *  This file is part of LiteFarm.
 *
 *  LiteFarm is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  LiteFarm is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 *  GNU General Public License for more details, see <https://www.gnu.org/licenses/>.
 */

@import '@assets/mixin.scss';

.consentContainer {
  width: 100%;
  display: flex;
  padding-inline: 24px;
  flex-direction: column;
  gap: 32px;

  .sectionTitle {
    font-size: 16px;
    line-height: 24px;
    color: var(--Colors-Neutral-Neutral-900);
  }

  @include xs-breakpoint {
    padding-inline: 0;
  }
}

.warningBanner {
  padding: 8px 16px;
  margin-bottom: 16px;
  display: flex;
  justify-content: center;

  border-radius: 4px;
  background: var(--Colors-Accent---singles-Brown-light);

  color: var(--Colors-Accent---singles-Brown-dark);
  font-style: italic;
  font-size: 16px;
  font-weight: 700;
}

.consent {
  .sectionTitle {
    margin-bottom: 16px;
  }
}

.consentMain {
  border-radius: 4px;
  border: 1px solid var(--Colors-Neutral-Neutral-50);
  background: var(--Box-bg);
  padding: 16px 24px;

  > p {
    color: #000;
    font-size: 16px;
    font-style: italic;
    margin-bottom: 8px;
  }

  .checkbox {
    gap: 8px;
    padding: 0 8px;

    .label {
      font-weight: 700;
      line-height: normal;
      color: var(--Colors-Neutral-Neutral-500);
    }
  }

  &.disabled {
    > p {
      color: var(--Colors-Neutral-Neutral-300);
    }

    .label,
    input:checked ~ .label {
      color: var(--Colors-Neutral-Neutral-100);
    }
  }
}

.marketDirectories {
  margin-bottom: 48px;

  .sectionTitle {
    margin-bottom: 4px;
  }

  .lead {
    color: #000;
    font-size: 16px;
    line-height: normal;
    margin-bottom: 16px;
  }
}

.marketTiles {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 16px;

  .logoAndCountry {
    display: flex;
    align-items: center;
    gap: 16px;
    white-space: nowrap;

    span {
      color: #89bb7e;
      font-size: 16px;
    }
  }
}

.buttonWrapper {
  margin-bottom: 48px;
}

.editButton {
  width: fit-content;
  display: flex;
  min-height: 32px;
  height: 32px;
  padding: 8px 12px;
  margin: 0 auto;
  align-items: center;
  gap: 4px;
  border: 1px solid var(--Colors-Neutral-Neutral-900);
  color: var(--Colors-Neutral-Neutral-900);
  font-size: 14px;

  span {
    min-width: 116px;
  }
}

.consentButtons {
  button {
    min-width: 176px;

    &:nth-of-type(1) {
      &:disabled {
        color: var(--Colors-Neutral-Neutral-100);
        background-color: var(--White);
      }
    }

    &:nth-of-type(2) {
      border: none;

      &:disabled {
        color: var(--Colors-Neutral-Neutral-300);
      }
    }
  }
}
