.pullLeft {
  label {
    line-height: 4.5rem;
    font-size: 15px;
    margin-right: 7px;
  }
  padding-top: 10px;
  width: 45%;
  margin: 0;
  float: left;
}

.pullRight {
  label {
    line-height: 4.5rem;
    font-size: 15px;
    margin-right: 7px;
  }
  padding-top: 10px;
  width: 45%;
  float: right;
  margin: 0;
}

.date{
  input {
    font-size: 1.8rem;
    border: 1px solid #D3D3D3;
    width: 100%;
    border-radius: 5px;
    background-color: hsl(0,0%,98%);
  }
  display: flex;
  flex-direction: row;
  align-items: center;
  ::placeholder{
    color:#00756A;
  }
}

.balanceTitle{
  display: inline;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 18px;
  letter-spacing: 0.131836px;
  color: #5B6370;
}

.rangeContainer{
  display:flex;
  flex-direction: column;
  width: 100%;
  input{
    text-align: center;
  }
  h5{
    text-align: center;
  }
  margin-bottom: 20px;
}

.toFromContainer{
  display:flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}