.container{
  padding: 24px 24px 0 24px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.svgContainer{
  padding: 24px 0px 0px 0px;
  display: flex;
  height: calc(100vh - 172px);
  align-items: center;
}

@media only screen and (max-width: 567.98px) {
  .svgContainer {
    padding: 0 0 0 0;
    padding-top: 64px;
    height: calc(100vh - 196px);
  }
}

@media only screen and (min-width: 567.98px) {
  .svgContainer {
    padding: 24px 10% 0px 10%;
    justify-content: center;
  }
}

div.container > h4:nth-child(1){
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  margin-bottom: 20px;
}

div.container div:nth-child(2){
  margin-bottom: 28px;
}
